<div class="row" ng-controller="NorstedtsResultController">
	<div class="span12">
		<div class="row">
			<div class="span12 shadow facetbar">
				Översta raden
			</div>
		</div>
		<div class="row">
			<div class="span3">	
				<div class="well">
				searchTerm norstedts: 
				{{searchWord}}
				{{hitsForWord.length}}
				
				<ul class="searchresult" ng-repeat="hit in hitsForWord">
					<li><a href="#" ng-click="selectword(hit, $event)">{{hit.title}}</a></li>
				</ul>
			</div>
			</div>
			<div class="span9">
				<div class="well">
				Sökresultat
					<div>{{selectedword}}</div>
				</div>
			</div>	
		</div>
	</div>
</div>
