<div class="row" >
	<div class="well span12">
		<div class="span4 offset4" ng-controller="NorstedtsController">
			<div class="row" >
				<div class="span1">
					<span><img src="blank.gif" class="flag flag-se" alt="Sweden" />
					{{fromLanguage}}</span>
				</div>
				<div class="span1">
					<div class="btn-group">
						<button type="button" ng:click="switchLanguage()" class="btn  switchbutton" ></button>
					</div>
				</div>
				<div class="span1">
					<span><img src="blank.gif" class="flag flag-gb" alt="England" />{{toLanguage}}</span>
				</div>
			</div>
			<div class="row">
				<div class="span4">
					<form ng-submit="translate()">
						<input type="text" ng-model="wordtotranslate" >
						<button type="submit" class="btn " >Översätt</button>
					</form>
				</div>
			</div>
		</div>
		<div class="span2 ">
			<img src="https://www.ne.se/static/resources/images/logo.gif" />
		</div>
	</div>
</div>
