<script>
$(function(){   
	var $container = $('#masonrybilder');   
	$container.imagesLoaded( function(){ 
		$container.masonry({ itemSelector : '.bild',
				'columnWidth' : 340}); 
		});   
	});

</script>


<div class="row" ng-controller="EverythingSearchResultController">
	<div class="span12">	
		<div class="thumbnails span3">	
			<div class="searchterm" ng-repeat="image in images">
				<a href="#">
					<img  class="thumbnail"
					src="http://assets.ne.se{{image.asset_path[0]}}" alt="">
				</a>
			</div>
		</div>
	</div>
	<div class="span12">&nbsp;</div>
	
	<div class="span12">
		searchTerm:  
		{{searchTerm}}
		<div class="row">
			<div class="span3" ng-repeat="facet in searchresult ">
				<div class="bild" ui-if="facet.size >0 && searchTerm.length>0">
					<div class="well">
						<h4 class="facet">{{facet.name}} ({{facet.size}})</h4>
						<ul>
							<li ng-repeat="hit in facet.hits"><strong>{{hit.title}}</strong>
								<p ng-bind-html-unsafe="hit.summary | highlight:searchTerm"></p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>