<div class="row" >
	<div class="well span12">
		<div class="span3 offset5" ng-controller="EverythingSearchController">
			"Prisjakt"-style sök med facets<br/>
			<input type="text" ng-model="typeaheadkeyword"  placeholder="Jag vill veta..."/>
		</div>
		
		<div class="span2 ">
			<img src="https://www.ne.se/static/resources/images/logo.gif" />
		</div>
	</div>
</div>
