<!doctype html>
<html lang="en" ng-app>
<head>
	<meta charset="utf-8">
	<title>Google Phone Gallery</title>
	<link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.css")">
	<link rel="stylesheet" href="@routes.Assets.at("stylesheets/responsive.css")">
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/ne/master.css")">
    <script src="lib/angular/angular.js"></script>
	<script src="js/controllers.js"></script>
</head>
<body  ng-controller="SearchController">
	<div class="container">
		<div class="row">
			<div class="span12">
				<div>
					<form class="well form-search">
						<div class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Svenska</a>
						<ul class="dropdown-menu">
							<li class="active">Svenska</li>
							<li class="active">Engelska</li>
						</ul>
						</div>
					
						<label>Search:</label>
						<input type="text" ng-model="keywords" class="input-medium search-query" placeholder="Keywords...">
						<button type="submit" class="btn" ng-click="search()">Search</button>
					</form>
				</div>
			</div>
			<div class="span12">
				Filter: <input ng-model="query">
			</div>
			<div class="span12">
				<pre ng-model="searchresult">
				Träffar: {{searchresult.result.document.length}}
					<ul class="searchresult">
						<li ng-repeat="hit in searchresult.result.document  | filter:query">
						<h3>{{hit.title}}</h3>
						<p>{{hit.summary}}</p>						
						</li>
					</ul>
				</pre>
			</div>
		</div>
	</div>
</body>
</html>
