
@main("") {
<style>
.ui-match {
	background: yellow;
}

ul {
	list-style-type: none;
}

ul.facets {
	padding: 0;
	margin: 0;
}

ul.facets li {
	display: inline;
}

li .facet {
	font-weight: bold;
}

</style>


<div >
	<div  ng-model="images">
		<div class="container">
			<div class="row">
				<div class="span6">
			        &nbsp;
				</div>
			</div>
		
			<div ng-include="searchBoxes"></div>
			
			<div ng-view></div>

		</div>
	</div>
</div>
}