@main("") {
<div  ng-controller="SearchController">
	<div class="container">
		<div class="row">
			<div class="span12">
				<div>
					<form class="well form-search">
						<ul class="nav nav-tabs">
						 <li class="dropdown">
							<div class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">Svenska<b class="caret"></b></a>
								<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
									<li ><a href="#">Svenska</a></li>
									<li ><a href="#">Engelska</a></li>
								</ul>
							</div>
						 </li>
						</ul>
					
						<label>Search:</label>
						<input type="text" ng-model="keywords" class="input-medium search-query" placeholder="Keywords...">
						<button type="submit" class="btn"  ng-click="search()">Search</button>
					</form>
				</div>
			</div>
			

			<div class="span12">
				<div class="well row" ng-model="searchresult">
				Träffar: {{searchresult.result.document.length}} {{keywords}}
					<ul class="searchresult">
						<li ng-repeat="hit in searchresult.result.document ">
						<h3>{{hit.title}}</h3>
						<p  ng-bind-html-unsafe="hit.summary | highlight:keywords"></p>						
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
}
