/* app css stylesheet */

body {
  padding-top: 20px;
}

.searchresult li {
	list-style-type: none;
	padding-top: 3px;
	padding-bottom: 3px;
}

.searchresult li a {
	text-decoration: none;
	min-width: 100px;
}


.searchresult li:hover {
	background-color: blue;
	color: white;
}

.searchresult li a:hover {
	color: white;
}


.facetbar {
	background-color: #A0A0A0;
	font-family: "myriad-pro-condensed", sans-serif;
	font-size: 1.4em;
	text-transform: uppercase;
	font-weight: 600;
	color: white;
	padding-left: 5px;
	padding-bottom: 5px;
	padding-top: 5px;
	margin-bottom: 8px;
}

.shadow {
-moz-box-shadow: 0px 3px 4px #000;
-webkit-box-shadow: 0px 3px 4px #000;
box-shadow: 0px 3px 4px #000;
/* For IE 8 */
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
/* For IE 5.5 - 7 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}
