/*
 * General UI components such as dropdown menus etc.
 */

    ul.dropdown-menu {
    padding-left: 8px;
    padding-right: 8px;
}


ul.dropdown-menu li a {
    text-transform: none;
    color: @medium-grey;
    padding-left: 12px;
}

b.caret {
  margin-top: 8px !important;
  margin-left: 3px;
}

/*
 * The dividing line between dropdown menu items
 
.dropdown-menu li:after 
{
    content: "";
    margin-top: 7px;
    margin-bottom: 7px; 
    display: block;
    height: 2px;
    border-bottom: 1px dashed @dark-grey;
}

.nav > li > a:hover {
    background: none !important;
}*/

li.divider:before {
    content: "";
    margin-top: 7px;
    margin-bottom: 20px; 
    display: block;
    height: 2px;
    border-bottom: 1px dashed @dark-grey;
    
}

/* Translate button, switch between languages e.g. */
.btn.switchbutton {
	background: url('/assets/images/arrow-swap.png') no-repeat center center transparent !important;
	height: 24px;
	width: 54px;
}

/*
.dropdown-menu li:hover {
    border-left-width: 8px;
    border-left-color: @encyklopedia-navbar-selected;
    border-left-style: solid;
    margin-left: -8px;
}*/

/*
 * Resetting the twitter bootstrap drowndown menu item hover
*/ 
.dropdown-menu li a {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    margin-left: -8px;
    margin-right: -8px;
}
.dropdown-menu li a:hover {
    background-image: none;
    
    border-top: 1px solid #eee;
    border-bottom: 1px solid #ddd;
    background-color: #eee !important;
    color: @dark-grey !important;
    box-shadow: (inset 0px 10px 20px 0px rgba(255, 255, 255, 1));
}

/*
 * Styling for chosen dropdown menu
 */
.chzn-search {
  display: none !important;
}

.chzn-container-single {
  width: auto !important;
}

.chzn-container {
  .chzn-results {
    min-width: 200px;
    margin: 0 !important;
    padding: 12px 0px 12px !important;
    border-radius: 5px;
    color: #999;
    font-family: @sans;
    font-size: 1.3em;
    .box-shadow(4px 4px 5px rgba(0, 0, 0, .15));
    li {
      padding: 10px 8px 10px 8px !important;
      line-height: 30px;
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;
      &.highlighted {
        border-top: 1px solid #eee;
        border-bottom: 1px solid #ddd;
        background-color: #eee !important;
        color: @dark-grey !important;
        .box-shadow(inset 0px 10px 20px 0px rgba(255, 255, 255, 1));
      }
    }
  }
}

.chzn-single {
  overflow: visible !important;
  font-size: 14px;
  border: 0 !important;
  background-image: none !important;
  background: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  color: #999 !important;
  div {
    b {
      background: url('../gfx/chosen-sprite.png') no-repeat 0px 7px !important;
    }
  }
}

.chzn-drop {
  width: auto !important;
  top: 40px !important;
  border-radius: 5px !important;
  border: 0 !important;
  // Creates white arrow:
  &:after {
    content: '';
    display: inline-block;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    position: absolute;
    top: -10px;
    left: 10px;
  }
}
.chzn-single, .chzn-single-with-drop {
  outline: none !important;
  height: 36px !important;
  span {
    background-position: left center;
    background-size: 26px 15px !important;
    padding: 0 12px 0 30px;
    font-weight: 600;
    //min-width: 80px;
    margin-right: 10px !important;
    font-family: @sans;
    font-size: 1.4em;
    height: 36px;
    line-height: 36px;
    color: @dark-grey;
 }
}

/*
 * Styling for user dropdown
 */

.userdropdown {
  b.caret {
    border-top-color: @medium-grey;
    top: 2px;
    position: relative;
    left: 4px;
  }
  ul {
    position: absolute;
    padding-top: 10px;
    padding-bottom: 10px;
    //width: 80px;
    white-space: nowrap;
    right: 0;
    left: auto;
    top: 32px;
    text-align: right;
    font-size: 0.8em !Important;
    min-width: 0;
    border: none;
    &:after {
      content: '';
      display: inline-block;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid white;
      position: absolute;
      top: -7px;
      left: 58px;
    }
    a {
      margin-left: -7px;
      margin-right: -7px;
      padding-left: 18px;
    }
  }
}

/*
 * Styling for autocomplete
 */
.ac_results {
  border: 0;
  padding-top: 12px;
  background: none;
  overflow: visible;
  max-width: 315px;
  // Creates white arrow:
  &:after {
    content: '';
    display: inline-block;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    position: absolute;
    top: 2px;
    left: 26px;
  }
  ul {
    padding: 12px 0px 12px !important;
    .box-shadow(4px 4px 5px rgba(0, 0, 0, .15));
    border-radius: 5px;
    overflow: hidden;
    background-color: white;
  }
  li.ac_even, li.ac_odd {
    font-weight: bold;
    padding: 10px 8px 10px 8px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    background: none;
    color: #999;
    font-family: @sans;
    font-size: 1.2em;
    letter-spacing: normal;
    &.ac_over {
      border-top: 1px solid #eee;
      border-bottom: 1px solid #ddd;
      background-color: #eee !important;
      color: @dark-grey !important;
      .box-shadow(inset 0px 10px 20px 0px rgba(255, 255, 255, 1));
    }
  }
  .suggestion {
    font-weight: normal;
  }
  span.message {
    font-style: italic;
    font-weight: normal;
  }
  .message {
    font-size: 1em;
    color: inherit;
    font-weight: normal;
  }
  .count {
    font-weight: normal;
  }
}

/*
 * Paginator style
 */

ul.pager {
  padding: 10px;
  padding-left: 32px;
  border-top: 1px solid white;
  background-color: @card-color;
  text-align: left !important;
  .box-shadow(1px 1px 2px 0px rgba(0, 0, 0, 0.3));
  li {
    padding: 5px 10px !important;
    float: left;
    font-size: 1.1em;
    color: #ccc;
    .text-shadow(0 1px 0 rgba(255, 255, 255, 0.7)) !important;
    a {
      background: none;
      border: none;
      padding: 0;
      color: @medium-grey;
      &:hover {
        background: none;
        color: @hover-blue;
      }
    }
    &.pager-current {
      color: @dark-grey;
    }
    &.pager-previous {
      border-right: 1px solid #ddd;
      padding: 5px 20px 5px 0px !important;
      a {
        color: @blue;
      }
    }
    &.pager-next {
      border-left: 1px solid white;
      border-right: 1px solid #ddd;
      padding: 5px 20px !important;
      a {
        color: @blue;
      }
      &+li {
        border-left: 1px solid white;
        padding-left: 20px !important;
      }
    }
    &.pager-ellipsis {
      color: @medium-grey;
    }
  }
}
