.node-type-dictionary {
  .pane-node-content {
    padding: 40px;
  }
  h2 {
    padding-top: 0;
    margin-top: 0;
  }
  #headword {
    border-bottom: 0 !important;
  }
  .node {
    padding: 0 !important;
    .content {
      font-family: @serif;
    }
  }
  p.headword {
    display: none;
  }
  .article-wrapper {
    margin-bottom: 48px;
  }
}