.node-type-document {
  article {
    padding: 20px 0;
    border-top: 1px dashed @dark-grey;
    .article-wrapper {
      padding: 20px 30px;
      .box-shadow(1px 1px 2px 0px rgba(0, 0, 0, 0.3));
      font-family: @serif;

      span.uppslag {
        font-weight: bold;
      }
      sup {
        font-size: smaller;
        line-height: normal;
        vertical-align: super;
        top: 0;
      }
      sub {
        font-size: smaller;
        vertical-align: sub;
        bottom: 0;
      }
    }
  }
}
.page-lexikon {
  //SV ordbok
  .huvud {
    .uppslag {
      margin-right: 4px;
    }
  }
  .neopetit {
    font-size: 0.8496em;
  }
  .neokap {
    font-size: 0.8496em;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  //EN lexikon
  .nehf, .hf {
    font-weight: bold;
  }
  .hfk {
    font-weight: bold;
    font-style: italic;
  }
  .best {
    color: black;
    font-family: @sans;
    //font-size: pxtoem(10, $base);
    letter-spacing: 1.1px;
    line-height: 135%;
  }
  .wordClass {
    font-style: italic;
  }
}

