
/* Artikel CSS */
.nefigure {
    background-color: white;
}

span.huvud {
    text-transform: capitalize;
    font-weight: bold;
}

.bild {
    float:left;
}

figcaption {
    padding-top: 4px;
    text-align: left;
    font-size: 0.9em;
    color: #666;
}

.node h2 {
    font-size: medium;
}
.node h2 a {
    font-size: medium;
    color: #333;
    text-decoration:none;
}

.texture-cream {
    padding-bottom: 32px;
    .box-shadow(1px 1px 2px 0px rgba(0, 0, 0, 0.3));
}

.texture-grey {
  border-top: 1px dashed grey;
}

.article-wrapper {
    margin-top: 32px;
    padding-top: 16px;
    padding-bottom: 48px;
}
.node-type-encyklopedia {
  article {
    min-height: 480px !important;
  }
  .texture-cream {
    min-height: 480px;
  }

}
.encyklopedia-content {
  .pane-title {
    margin: 32px 30px 0 30px;
  }
  h4 {
    margin-top: 30px;
    padding-left: 30px;
  }
}
.pane-title {
    margin-top: 32px;
    border:#000 1px dotted;
    border-style: none none dashed;
    border-color: gray;
}
.encyklopedia-content .main {
  padding: 10px 30px;
}
.encyklopedia-topbar {
    width: 100%;
    height: 32px;
    text-transform: uppercase;

}

.encyklopedia-topbar .item {
    width: 25%;
    background-color: @encyklopedia-navbar-background;
    float: left;
    height: 41px; 
}

.encyklopedia-topbar .item-selected  {

}

/* TODO: 20px when screen is more narrow */
.encyklopedia-topbar .itemtext {
    padding-left: 0px !important;
    padding-top: 6px;
    padding-bottom: 7px;

    text-align: center;
    //margin-right: 40px;
    .nav {
      margin-bottom: 0;
    }
}

.content,
.view-content {
    font-family: @serif;
}

.leftborder {
    border-left-color: gray;   
    border-left-style: dotted;
    border-left-width: 1px;
}

.encyklopedia-topbar .itemtext a {
    color: black;
    font-family: "myriad-pro-condensed", sans-serif;
    font-size: 1.2em;
    letter-spacing: 2px;
    font-weight: 600;
}    

.encyklopedia-topbar li a {
    font-size: 1em;
    &:hover {
      background-color: transparent !important;
    }
}    

.encyklopedia-topbar .item a {
    color: @tab-inactive-text;
    letter-spacing: 2px;
    font-weight: bold;
}

.encyklopedia-topbar .encyklopedia-menutopbar-divider {
    border-left: silver solid 1px;

}


.encyklopedia-topbar .encyklopedia-menutopbar-color {
    border-top-color: @encyklopedia-navbar;
    border-top-style: solid;
    border-top-width: @tab-border-width;
    
}
.encyklopedia-topbar .item-selected .encyklopedia-menutopbar-color {
    border-top-color: @encyklopedia-navbar-selected;
    background-color: @card-color;
    a {
      color: @dark-grey;
    }
}

.encyklopedia-topbar .item a:hover,
.encyklopedia-topbar .itemtext a:hover {
    text-decoration: none;
}    

.encyklopedia-topbar ul.dropdown-menu {
    padding-top: 12px;
    padding-bottom: 12px;
    margin-left:20px;
    margin-top: 10px;
}

.encyklopedia-topbar ul.dropdown-menu li a {
    font-size: 1em !important;
    text-align: left;
}

.view-encyklopedia-relaterat li  {
    padding-bottom: 24px !important;
    padding-left: 18px  !important;
}

.view-encyklopedia-relaterat li a {
    font-weight: bold;
    text-decoration: none;
    font-size: 1.2em;
}

.view-encyklopedia-relaterat li div.readmore {
    background-color: #C2C2BC;
    text-align: center;
    margin: auto;
    padding: 5px;
}

.view-encyklopedia-relaterat li div.readmore a {
    text-decoration: none;
    font-size: 1.2em;
    font-weight: normal;
    letter-spacing: 3px;    
    color: white;
    text-transform: uppercase;
    font-family: @serif;    
}

.encyklopedia-relaterat-list ul {
    margin: 0px;
    padding-top: 12px;
}

.encyklopedia-content-columns  {
    padding-top: 24px;
}

.encyklopedia-content-columns h4 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5em;
    padding-bottom: 24px;
    margin-left: 18px;
    border-bottom: 1px dashed @dark-grey;    
}

/* The little arrow on top of dropdown menu */
.encyklopedia-topbar li > .dropdown-menu::before {
    position: absolute;
    top: -7px;
    left: 119px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0,0,0,0.2);
    content: '';
}
/* The little arrow on top of dropdown menu */
.encyklopedia-topbar  li > .dropdown-menu::after {
    position: absolute;
    top: -6px;
    left: 120px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    content: '';
}

/*
* Relaterat
*/
.encyklopedia-content-column {
    border-left-style: dashed;
    border-left-color: gray;
    border-left-width: 1px;
    min-height: 150px;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 400px;
}

.masonry {
  margin: 30px;
}

.masonry_col {
    width: 360px;
}
.ne_bild  img {
    width: 360px;
}
/*Artikel CSS slut */