// Footer
footer {
  background-color: white;
  .box-shadow(0px -1px 4px 0px rgba(0, 0, 0, 0.2));
  position: relative;
  z-index: 200;
  .rainbow{
    margin-bottom: 40px;
    div {
      height: 14px;
    }
  }
  .logo-bottom {
    float: left;
    height: 44px;
    width: 20%;
    min-width: 188px;
    margin-right: 20px;
    background: url("../gfx/ne-logo-slogan.png") no-repeat transparent;
    text-indent: -9999px;
  }
  .footer-menu {
    width: 70%;
    float: left;
  }
  .pane-content {
    &>.nav-tabs, &>.nav-pills {
      width: 100%;
      li {
        width: 29%;
        display: inline-block;
        padding-top: 3px;
        padding-bottom: 4px;
        margin: 0;
        margin-bottom: 0px;
        a {
          display: inline;
          color: #bbb;
          font-family: @sans;
          font-weight: 600;
          font-size: 1.2em;
          text-transform: uppercase;
          &.active {
            background-color: transparent !important;
          }
          &:hover {
            color: @medium-grey !important;
            background-color: transparent;
          }
        }
      }
    }
  }
  .social-icons {
    height: 33px;
    width: 80px;
    float: right;
  }
  .facebook {
    float: left;
    height: 32px;
    width: 32px !important;
    margin-right: 10px;
    a {
      display: block;
      height: 32px;
      width: 32px !important;
      background: url("../gfx/icn-facebook.png") no-repeat transparent;
      background-position: 0 center;
      &:hover {
        background-position: -32px center;
      }
    }
  }
  .twitter {
    display: block;
    float: left;
    height: 32px;
    width: 32px !important;
    a {
      display: block;
      height: 32px;
      width: 32px !important;
      background: url("../gfx/icn-twitter.png") no-repeat transparent;
      background-position: 0 center;
      margin-right: 10px;
      &:hover {
        background-position: -32px center;
      }
    }
  }
  .copyright {
    margin-top: 40px;
    color: #bbb;
    font-size: 1em;
    font-family: @sans;
    font-weight: 600;
    text-transform: uppercase;
    white-space: nowrap;
    text-align: center;
    p {
      margin-bottom: 3px;
    }
  }
}