header {
  margin-top: 30px !important;
  position: relative;
}
.pane-ne-user-ne-user-login {
  float: right;
  position: relative;
  top: 20px;
  z-index: 200;
  font-family: @sans;
  font-size: 1.4em;
  font-weight: 600;
  #ne-user-login-form {
    display: none;
  }

  ul.login {
    &>li {
      //padding-right: 22px;
      //background: url("../gfx/icn-user.png") no-repeat right 1px transparent;
      cursor: pointer;
      text-align: right;
      .dropdown-toggle {
        color: @medium-grey;
        .transition(0.1s);
        &:hover {
          color: white;
        }
      }
    }
  }
}
.header-title {
  img {
    height: 34px;
    width: 46px;
  }
}
.btn {
  margin-top: 0 !important;
}
a.brand {
  border-right: 1px dashed #444;
}
.logo {
  background: url("/assets/images/gfx/ne-logo.png") no-repeat transparent;
  width: 54px;
  height: 35px;
  display: block;
}
.navbar {
  .box-shadow(0px 2px 4px 0px rgba(0, 0, 0, 0.4));
  .active {
    color: white !important;
    background-color: transparent !important;
    background-image: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    .text-shadow(0 0 20px rgba(255, 255, 255, 0.5));
  }
  ul.menu {
    font-family: @sans;
    font-size: 1.4em;
    padding: 13px 20px 5px;
    text-transform: uppercase;
    font-weight: 600;
    li {
      a {
        padding: 14px 24px 14px 4px;
        line-height: 0.7em;
        .transition(0.1s)
      }
      ul {
        display: none;
        &.menu {
          padding: 0 !important;
        }
      }
    }
  }
  .navbar-inner {
    border-radius: 0;
  }
}

#ne-search-filter {
  top: 3px;
  position: relative;
}