/*
 * Original styling by Norstedts
 */
// Text formatting:
@normal:  14px;
@medium: 13px;
@small:  12px;

// Colors:
@tsl-color: #AD77A6;
@syn-color: @dark-grey;

.node-lexicon {
  .lv5, .swb, .tsl, .vbc, .vok {
    /* brödstil: Sabon normalstor rak stil som mest används för översättningar */
    font-family: @serif;
    font-size: @normal;
    font-style: normal;
  }

  .ipa, .ipb, .ita {
    /* Fonetikfont: en font med seriffer som kan återge fonetiska tecken */
    font-family: @serif;
    font-size: @normal;
    font-style: normal;
  }

  .fem, .hom, .hwd, .lv1, .lv2, .lv3, .lv4, .txt, .var {
    /* Uppslagsordstil: Franklin stor fet */
    font-family: @sans;
    font-size: @normal;
    font-weight: bold;
    font-style: normal;
  }

  .idm, .phi, .rfl {
    /* Frasstil: Franklin som uppslagsordsstilen men lite mindre och kursiv */
    font-family: @serif;
    font-size: @medium;
    font-weight: bold;
    //font-style: italic;
    //display: block;
  }

  .aba, .abb, .aua, .exa, .exb, .ffa, .ffb, .ifa, .psa, .psb, .ref, .spa, .swa {
    /* Kursiv: Sabon normalstor men kursiv */
    font-family: @serif;
    font-size: @normal;
    font-weight: normal;
    font-style: italic;
  }

  .btx, .bty, .coa, .cob, .dfb, .gra, .grb, .gri, .ila, .ilb, .rca, .rcb, .rtx, .rty, .sca, .scb, .sea, .seb, .sfa, .sfb, .sva, .svb {
    /* Liten: Sabon liten rak */
    font-family: @serif;
    font-size: @small;
    font-weight: normal;
    font-style: normal;
  }

  .ifb, .ifl {
    /* Liten kursiv: Sabon liten kursiv */
    font-family: @serif;
    font-size: @small;
    font-weight: normal;
    font-style: italic;
  }

  .pnc {
    /* ??? liten/brödstil */
    font-family: @serif;
    font-size: @normal;
    font-weight: normal;
    font-style: normal;
  }

  .phv {
    /* PHV-stil: Franklin som uppslagsordsstilen men mindre */
    font-family: @sans;
    font-size: @medium;
    font-weight: normal;
    font-style: normal;
  }

  .ipx, .itx {
    /* Understruken fonetikfont: understruken fonetikfont (finns bara i lilla engelska) */
    font-family: @serif;
    font-size: @normal;
    font-weight: normal;
    font-style: normal;
    text-decoration: underline;
  }

  /* NE classes generated from <font> tag in norstedts */
  .small-text {
    font-size: @small;
  }

  .normal-text {
    font-size: @normal;
    font-style: normal;
    font-weight: normal;
    font-family: @serif;
    text-decoration: none;
  }

  .small-caps {
    font-variant: small-caps;
  }

/*
 * NE specific styling
 */
  &.full {
    padding: 20px !important;
  }
  .error {
    /* Hide error messages generated by Norstedts */
    display: none;
  }
  .main {
    border-bottom: 0 !important;
  }
  h2#headword {
    margin: 0 0 10px 0;
    padding-left: 0;
    padding-bottom: 10px;
    border-bottom: 1px dashed @dark-grey;
    text-transform: none;
    font-size: 2em;
  }
  h3 {
    text-transform: uppercase;
  }
  .language-to, .language-from {
    &>div {
      padding-left: 54px;
      background-size: 46px 26px !important;
      font-family: @sans;
      font-weight: 600;
      font-size: 2em;
      line-height: 1.3em;
    }
  }
  .language-from {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px dashed @dark-grey;
  }
  .toggle {
    display: block;
    width: 70px;
    margin-top: 3px;
    margin-bottom: 3px;
    color: @medium-grey;
    font-size: 1.1em;
    font-family: @sans;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.05em;
  }
  .form-group {
    margin-bottom: 40px !important;
    display: block;
    margin-bottom: 10px;
  }
  .sem-group {
    display: block;
    margin-bottom: 20px;
  }
  .lv1-group{
    display: block;
  }
  .lv4-group {
    /* Puts lv4 group on its on row and spacing*/
    display: block;
    margin-top: 10px;
  }
  .lv5-group {
    display: block;
    padding-left: 14px;
  }
  .phrase-group {
    /* Put phrase groups and phrases in a box */
    .box-shadow(inset 0px 1px 4px 0px rgba(0, 0, 0, 0.6));
    background-color: rgba(0,0,0,0.04);
    padding: 10px;
    margin-bottom: 14px !important;
    margin-top: 4px;
    border-radius: @search-component-border-radius;
    display: block;
    border-bottom: 1px solid white;
  }
  .phrase {
    display: block;
    margin-bottom: 3px;
    &>.skl {
      // Hack to force phrase translations to be on their own line but include skiljetecken
      &:after {
        display: block;
        height: 1px;
        font-size: 1px;
        overflow: hidden;
        content: " ";
      }
      &>.tsl-group {
        padding-left: 0px;
      }
    }
  }
  .gen-bet-group {
    display: block;
    margin-top: 10px;
    padding-top: 10px;
    &+.phrase-group {
      margin-top: 5px;
    }
    &>.a-label-group {
      &>span.sea{
        font-family: @sans;
        font-size: 1.3em;
        font-weight: 600;
      }
    }
  }
  .psa-group {
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: @sans !important;
    text-transform: uppercase;
    .psa, .small-text {
      font-family: @sans;
      font-size: 1.4em;
      text-transform: uppercase;
      font-style: normal;
      font-weight: 600;
    }
  }
  .tilde + .small-text, .small-text + .tilde {
    /* Fixes spacing */
    margin-left: 2px;
  }
  .idm + .a-label-group {
    /* Fixes spacing */
    margin-left: 3px;
  }
  .btx {
    /* Fixes spacing */
    padding-left: 4px;
  }

  .hwd, .hom {
    /* Don't display headword since we're displaying the title of the node */
    /* Don't display homonym number since homonyms will render as differnet nodes (?) */
    display: none;
  }
  .tsl {
    /* Color translations */
    font-weight: bold;
    color: @tsl-color;
  }
  .partikelverb {
    /* Display partikelverb on its own row and fix spacing */
    display: block;
    margin-bottom: 10px;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 10px;
    .partikel-bet {
      display: block;
      margin-bottom: 10px;
    }
    .phv {
      font-family: @serif;
      font-size: 1em;
      margin-right: 2px;
      font-weight: bold;
      display: block;
    }
  }
}
.page-spraklexikon {
  .pane-node-content {
    padding: 40px;
  }
  h2 {
    padding-top: 0;
    margin-top: 0;
  }
  #headword {
    border-bottom: 0 !important;
    padding-bottom: 10px;
  }
  .node {
    padding: 0 !important;
  }
}
.page-uppslagsverk {
  .node-lexicon {
    .field-name-body {
      .field-item {
        span {
          margin-right: 10px;
        }
        span.pnc {
          margin-left: -10px;
        }
      }
      span.syn {
        color: @syn-color;
        font-family: @serif;
        font-weight: bold;
      }
    }
  }
}
.node-lexicon {
  &.syn {
    .field-item {
      p {
        float: left;
        margin-bottom: 20px;
      }
    }
    exa, syh {
      display: none;
    }
    span.syn {
      color: @syn-color;
      font-family: @serif;
      font-weight: bold;
    }
    span {
      display: block;
      float: left;
      margin-right: 10px;
      font-size: 1em !important;
    }
    .lv3 {
      display: block;
      clear: both;
    }
    .pnc {
      margin-left: -10px;
    }
  }
}
