@import "fonts.less"; 
@import "vars.less";
@import "mixins.less";
@import "header.less";
@import "footer.less";
@import "searchbar.less";
@import "document.less";
@import "encyklopedia.less";
@import "lexicon.less";
@import "dictionary.less";
@import "searchresults.less";
@import "components.less";
@import "pushes.less";
@import "pages.less";

body {
  background-color: @bg;
  color: @dark-grey;
  font-family: @serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: @sans;
}
h1 {
  font-size: 3.4em;
  letter-spacing: -0.05em;
}
h4 {
  font-family: @serif;
  font-size: 1.3em;
}
ul {
  list-style-type: none;
}
a {
  color: @blue;
  text-decoration: none;
  &:hover {
    color: @hover-blue;
    text-decoration: none;
  }
}
.node-type-encyklopedia, .node-type-dictionary, .node-type-lexicon {
  h2 {
    font-family: @serif;
    padding-bottom: 10px;
  }
}

.center {
  text-align: center;
}

.rainbow {
  width: 100%;
  height: 5px;
  div {
    width: 5%;
    height: 5px;
    float: left;
  }
}

// Set background-colors for rainbow divs:
// $class-slug: r !default
// @for $i from 1 through 20
//  .#{$class-slug}#{$i}
//    @include rainbow-color($i)
.rainbow {
  .rainbow-colors;
}

.page-uppslagsverk-sok, .page-spraklexikon-sok {
  h1 {
    margin-top: 60px;
    line-height: 1em;
    text-transform: uppercase;
  }
}

section#content-main {
  min-height: 350px;
}
.hasPlaceholder {
    color: #777;
}
.error-page {
  .pane-custom {
    margin-bottom: 100px;
  }
}
.row-fluid, .container-fluid {
  max-width: 960px;
  margin: 0 auto;
  padding: 0;
}
@import "mq.less";