/*.border-radius-side(@radius, @side, @clip: padding-box) when (@side = "top") or (@side = "bottom") {
    -webkit-border-@side-left-radius:    @radius;
    -webkit-border-@side-right-radius:   @radius;
}
.border-radius-side(@radius, @side, @clip: padding-box) when (@side = 'left') or (@side = 'right') {
    -webkit-border-top-#{@side}-radius:     @radius;
    -webkit-border-bottom-#{@side}-radius:  @radius;
}
  -webkit-background-clip:  @clip;
  -mox-background-clip:     @clip;
  -o-background-clip:       @clip;
  background-clip:          @clip;
}*/
.full-rotation from {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.full-rotation to {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
/*@mixin rainbow-color(@step: 1)
  background-color: nth(               , @step)
*/
.rainbow-colors .r1 {
  background-color: #ffeec3;
}
.rainbow-colors .r2 {
  background-color: #ffffcc;
}
.rainbow-colors .r3 {
  background-color: #f6ffcc;
}
.rainbow-colors .r4 {
  background-color: #d4eeaa;
}
.rainbow-colors .r5 {
  background-color: #ddeed4;
}
.rainbow-colors .r6 {
  background-color: #a1d4c3;
}
.rainbow-colors .r7 {
  background-color: #c3e5ee ;
}
.rainbow-colors .r8 {
  background-color: #a1dde5;
}
.rainbow-colors .r9 {
  background-color: #e5f6ff;
}
.rainbow-colors .r10 {
  background-color: #d4eef6;
}
.rainbow-colors .r11 {
  background-color: #d4ddf6;
}
.rainbow-colors .r12 {
  background-color: #ccddee;
}
.rainbow-colors .r13 {
  background-color: #aa99c3;
}
.rainbow-colors .r14 {
  background-color: #ddc3dd;
}
.rainbow-colors .r15 {
  background-color: #c399cc;
}
.rainbow-colors .r16 {
  background-color: #ddaae5;
}
.rainbow-colors .r17 {
  background-color: #f6d4e5;
}
.rainbow-colors .r18 {
  background-color: #f699cc;
}
.rainbow-colors .r19 {
  background-color: #ffe5e5;
}
.rainbow-colors .r20 {
  background-color: #f6ccc3;
}
header {
  margin-top: 30px !important;
  position: relative;
}
.pane-ne-user-ne-user-login {
  float: right;
  position: relative;
  top: 20px;
  z-index: 200;
  font-family: "myriad-pro-condensed", sans-serif;
  font-size: 1.4em;
  font-weight: 600;
}
.pane-ne-user-ne-user-login #ne-user-login-form {
  display: none;
}
.pane-ne-user-ne-user-login ul.login > li {
  cursor: pointer;
  text-align: right;
}
.pane-ne-user-ne-user-login ul.login > li .dropdown-toggle {
  color: #999999;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  -ms-transition: 0.1s;
  transition: 0.1s;
}
.pane-ne-user-ne-user-login ul.login > li .dropdown-toggle:hover {
  color: white;
}
.header-title img {
  height: 34px;
  width: 46px;
}
.btn {
  margin-top: 0 !important;
}
a.brand {
  border-right: 1px dashed #444;
}
.logo {
  background: url("images/gfx/ne-logo.png") no-repeat transparent;
  width: 54px;
  height: 35px;
  display: block;
}
.navbar {
  -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
}
.navbar .active {
  color: white !important;
  background-color: transparent !important;
  background-image: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  -moz-text-shadow: 0 0 20px rgba(255, 255, 255, 0.5) !important;
  -o-text-shadow: 0 0 20px rgba(255, 255, 255, 0.5) !important;
  -webkit-text-shadow: 0 0 20px rgba(255, 255, 255, 0.5) !important;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.5) !important;
}
.navbar ul.menu {
  font-family: "myriad-pro-condensed", sans-serif;
  font-size: 1.4em;
  padding: 13px 20px 5px;
  text-transform: uppercase;
  font-weight: 600;
}
.navbar ul.menu li a {
  padding: 14px 24px 14px 4px;
  line-height: 0.7em;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  -ms-transition: 0.1s;
  transition: 0.1s;
}
.navbar ul.menu li ul {
  display: none;
}
.navbar ul.menu li ul.menu {
  padding: 0 !important;
}
.navbar .navbar-inner {
  border-radius: 0;
}
#ne-search-filter {
  top: 3px;
  position: relative;
}
footer {
  background-color: white;
  -moz-box-shadow: 0px -1px 4px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px -1px 4px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px -1px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px -1px 4px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 200;
}
footer .rainbow {
  margin-bottom: 40px;
}
footer .rainbow div {
  height: 14px;
}
footer .logo-bottom {
  float: left;
  height: 44px;
  width: 20%;
  min-width: 188px;
  margin-right: 20px;
  background: url("../gfx/ne-logo-slogan.png") no-repeat transparent;
  text-indent: -9999px;
}
footer .footer-menu {
  width: 70%;
  float: left;
}
footer .pane-content > .nav-tabs,
footer .pane-content > .nav-pills {
  width: 100%;
}
footer .pane-content > .nav-tabs li,
footer .pane-content > .nav-pills li {
  width: 29%;
  display: inline-block;
  padding-top: 3px;
  padding-bottom: 4px;
  margin: 0;
  margin-bottom: 0px;
}
footer .pane-content > .nav-tabs li a,
footer .pane-content > .nav-pills li a {
  display: inline;
  color: #bbb;
  font-family: "myriad-pro-condensed", sans-serif;
  font-weight: 600;
  font-size: 1.2em;
  text-transform: uppercase;
}
footer .pane-content > .nav-tabs li a.active,
footer .pane-content > .nav-pills li a.active {
  background-color: transparent !important;
}
footer .pane-content > .nav-tabs li a:hover,
footer .pane-content > .nav-pills li a:hover {
  color: #999999 !important;
  background-color: transparent;
}
footer .social-icons {
  height: 33px;
  width: 80px;
  float: right;
}
footer .facebook {
  float: left;
  height: 32px;
  width: 32px !important;
  margin-right: 10px;
}
footer .facebook a {
  display: block;
  height: 32px;
  width: 32px !important;
  background: url("../gfx/icn-facebook.png") no-repeat transparent;
  background-position: 0 center;
}
footer .facebook a:hover {
  background-position: -32px center;
}
footer .twitter {
  display: block;
  float: left;
  height: 32px;
  width: 32px !important;
}
footer .twitter a {
  display: block;
  height: 32px;
  width: 32px !important;
  background: url("../gfx/icn-twitter.png") no-repeat transparent;
  background-position: 0 center;
  margin-right: 10px;
}
footer .twitter a:hover {
  background-position: -32px center;
}
footer .copyright {
  margin-top: 40px;
  color: #bbb;
  font-size: 1em;
  font-family: "myriad-pro-condensed", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  white-space: nowrap;
  text-align: center;
}
footer .copyright p {
  margin-bottom: 3px;
}
input[type="text"],
input[type="password"] {
  border-radius: 6px !important;
}
input[type="submit"] {
  width: auto;
  border-bottom: 1px solid #ddd;
  height: 50px;
}
input[type="submit"].btn {
  height: 41px;
  min-width: 80px;
  border: none !important;
  border-radius: 4px;
  background-color: #454544;
  color: white;
  font-family: "myriad-pro-condensed", sans-serif;
  font-size: 1.25em;
  font-weight: 600 !important;
  letter-spacing: 0.05em;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: -0.05em;
  -moz-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) !important;
  -o-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) !important;
  -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) !important;
  background-color: #33a7bf;
  background-image: -moz-linear-gradient(#39d4e5, #33a7bf);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #39d4e5), color-stop(1, #33a7bf));
  background-image: -webkit-linear-gradient(#39d4e5, #33a7bf);
  background-image: -o-linear-gradient(#39d4e5, #33a7bf);
  background-image: linear-gradient(#39d4e5, #33a7bf);
}
input#edit-ne-search-block-form-q.throbbing,
input#edit-ne-lexicon-block-form-q.throbbing {
  background-image: url("../gfx/spinner_24.gif") !important;
  background-position: 97% center !important;
}
.navbar-search {
  float: none;
  clear: both;
}
#searchbar {
  margin-bottom: 20px;
}
#feedback-panel {
  display: none;
  top: 0;
  padding: 10px;
  height: 30px;
  width: 300px;
  position: fixed;
  z-index: 10;
}
#feedback-spinner {
  z-index: 10;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 50px 0 0 -100px;
  height: 100px;
  width: 100px;
  text-indent: 250px;
  white-space: nowrap;
  overflow: hidden;
  background-image: url(../gfx/feedback-spinner.png);
  -webkit-animation-name: spinnerRotate;
  -moz-animation-name: spinnerRotate;
  -o-animation-name: spinnerRotate;
  animation-name: spinnerRotate;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}
@-webkit-keyframes spinnerRotate {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinnerRotate {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes spinnerRotate {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinnerRotate {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
#search-top {
  margin-top: 60px;
  margin-bottom: 60px;
}
.page-spraklexikon #search-top {
  margin-top: 54px;
}
#ne-search-block-form > div,
#ne-lexicon-block-form > div {
  position: relative;
  float: right;
  left: -50%;
}
#ne-search-block-form .container-inline,
#ne-lexicon-block-form .container-inline {
  position: relative;
  left: 50%;
  width: 101%;
}
#ne-search-block-form .search-query,
#ne-lexicon-block-form .search-query {
  float: left;
  padding: 7px 14px 7px 36px;
  margin-right: 10px;
  height: 27px;
  width: 360px;
  border: none;
  line-height: 24px;
  background-color: #ddd;
  border-bottom: 1px solid white;
  border-radius: 4px !important;
  -moz-box-shadow: inset 1px 2px 4px 0px rgba(0, 0, 0, 0.5);
  -o-box-shadow: inset 1px 2px 4px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 1px 2px 4px 0px rgba(0, 0, 0, 0.5);
  box-shadow: inset 1px 2px 4px 0px rgba(0, 0, 0, 0.5);
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  transition: background-color 0.3s;
  font-family: "ff-tisa-web-pro", georgia, serif;
  font-size: 1em;
}
#ne-search-block-form .search-query:focus,
#ne-lexicon-block-form .search-query:focus {
  background-color: white !important;
}
#ne-search-block-form .form-item-ne-lexicon-block-form-q:before,
#ne-lexicon-block-form .form-item-ne-lexicon-block-form-q:before,
#ne-search-block-form .form-item-ne-search-block-form-q:before,
#ne-lexicon-block-form .form-item-ne-search-block-form-q:before {
  content: '';
  display: block;
  width: 40px;
  height: 41px;
  position: absolute;
  background: url("../gfx/icn-search.png") no-repeat 12px 13px transparent;
}
#ne-lexicon-block-form {
  margin-top: 54px;
}
#ne-lexicon-block-form .form-item-ne-lexicon-block-form-q {
  width: auto;
}
#ne-lexicon-block-form .search-query {
  width: 360px;
}
#ne-lexicon-block-form fieldset#edit-languages {
  /*Centering:*/

  /*end centering*/

  position: relative;
  top: -84px;
  margin-bottom: -24px;
  height: 37px;
  padding: 0 0 0 0;
  min-width: 200px;
}
#ne-lexicon-block-form fieldset#edit-languages > .fieldset-wrapper {
  /*Centering:*/

  /*end centering*/

}
#ne-lexicon-block-form fieldset#edit-language-from-group,
#ne-lexicon-block-form fieldset#edit-language-to-group {
  font-size: 1.4em;
}
#ne-lexicon-block-form fieldset#edit-language-from-group label,
#ne-lexicon-block-form fieldset#edit-language-to-group label {
  font-family: "myriad-pro-condensed", sans-serif;
  font-weight: 600;
  font-size: inherit;
  line-height: 37px;
  height: 37px;
}
#ne-lexicon-block-form fieldset#edit-language-from-group label.flag,
#ne-lexicon-block-form fieldset#edit-language-to-group label.flag {
  padding: 0 6px 0 38px;
  background: url("../gfx/flags/svenska.gif") no-repeat 8px center;
  background-size: 26px 15px;
}
#ne-lexicon-block-form fieldset#edit-language-from-group label.to,
#ne-lexicon-block-form fieldset#edit-language-to-group label.to {
  padding: 0 10px;
  position: relative;
  font-family: "myriad-pro-condensed", sans-serif;
  background-size: 10px 20px !important;
}
#ne-lexicon-block-form fieldset#edit-language-from-group {
  padding-right: 4px;
  float: left;
}
#ne-lexicon-block-form fieldset#edit-language-from-group label {
  float: right;
}
#ne-lexicon-block-form fieldset#edit-language-from-group .form-type-select {
  float: right;
}
#ne-lexicon-block-form fieldset#edit-language-to-group {
  float: left;
}
#ne-lexicon-block-form #edit-swap {
  float: left;
  padding-top: 6px;
}
#ne-lexicon-block-form #edit-submit-swap {
  border-radius: 4px;
  background: url("../gfx/arrow-swap.png") no-repeat center center transparent;
  text-indent: -9999px;
  color: #999999;
  padding: 5px !important;
  margin-bottom: 0;
  margin-top: 12px;
  margin-left: 0;
  height: 24px;
  width: 54px;
  min-width: 0;
  border: 1px solid #bbb !important;
  font-size: 1.1em;
  font-weight: bold !important;
  line-height: 0.9em;
  -moz-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0) !important;
  -o-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0) !important;
  -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0) !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0) !important;
  -moz-box-shadow: 0px 0px 3px 1px #ffffff, inset 0px 0px 3px 1px #ffffff;
  -o-box-shadow: 0px 0px 3px 1px #ffffff, inset 0px 0px 3px 1px #ffffff;
  -webkit-box-shadow: 0px 0px 3px 1px #ffffff, inset 0px 0px 3px 1px #ffffff;
  box-shadow: 0px 0px 3px 1px #ffffff, inset 0px 0px 3px 1px #ffffff;
}
#ne-lexicon-block-form #edit-submit-swap:active {
  -moz-box-shadow: 0px 0px 3px 1px #ffffff, inset 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  -o-box-shadow: 0px 0px 3px 1px #ffffff, inset 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 0px 3px 1px #ffffff, inset 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 3px 1px #ffffff, inset 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  color: #888;
}
#ne-lexicon-block-form .form-actions {
  padding: 0;
  background: 0;
  border: 0;
}
#edit_language_to_chzn .alb,
#edit_language_from_chzn .alb,
.search-results .language-to .alb,
.node-lexicon .language-from .alb,
.node-lexicon .alb,
#edit_language_to_chzn.alb .psa-group,
#edit_language_from_chzn.alb .psa-group,
.search-results .language-to.alb .psa-group,
.node-lexicon .language-from.alb .psa-group,
.node-lexicon.alb .psa-group {
  background: url("../gfx/flags/albanska.gif") no-repeat 0 center;
}
#edit_language_to_chzn .amh,
#edit_language_from_chzn .amh,
.search-results .language-to .amh,
.node-lexicon .language-from .amh,
.node-lexicon .amh {
  background: url("../gfx/flags/amhariska.gif") no-repeat 0 center;
}
#edit_language_to_chzn .aze,
#edit_language_from_chzn .aze,
.search-results .language-to .aze,
.node-lexicon .language-from .aze,
.node-lexicon .aze {
  background: url("../gfx/flags/azerbajdzjanska.gif") no-repeat 0 center;
}
#edit_language_to_chzn .bos,
#edit_language_from_chzn .bos,
.search-results .language-to .bos,
.node-lexicon .language-from .bos,
.node-lexicon .bos {
  background: url("../gfx/flags/bosniska.gif") no-repeat 0 center;
}
#edit_language_to_chzn .eng,
#edit_language_from_chzn .eng,
.search-results .language-to .eng,
.node-lexicon .language-from .eng,
.node-lexicon .eng {
  background: url("../gfx/flags/engelska.gif") no-repeat 0 center;
}
#edit_language_to_chzn .fin,
#edit_language_from_chzn .fin,
.search-results .language-to .fin,
.node-lexicon .language-from .fin,
.node-lexicon .fin {
  background: url("../gfx/flags/finska.gif") no-repeat 0 center;
}
#edit_language_to_chzn .fra,
#edit_language_from_chzn .fra,
.search-results .language-to .fra,
.node-lexicon .language-from .fra,
.node-lexicon .fra {
  background: url("../gfx/flags/franska.gif") no-repeat 0 center;
}
#edit_language_to_chzn .gre,
#edit_language_from_chzn .gre,
.search-results .language-to .gre,
.node-lexicon .language-from .gre,
.node-lexicon .gre {
  background: url("../gfx/flags/grekiska.gif") no-repeat 0 center;
}
#edit_language_to_chzn .kro,
#edit_language_from_chzn .kro,
.search-results .language-to .kro,
.node-lexicon .language-from .kro,
.node-lexicon .kro {
  background: url("../gfx/flags/kroatiska.gif") no-repeat 0 center;
}
#edit_language_to_chzn .nor,
#edit_language_from_chzn .nor,
.search-results .language-to .nor,
.node-lexicon .language-from .nor,
.node-lexicon .nor {
  background: url("../gfx/flags/nordkurdiska.png") no-repeat 0 center;
}
#edit_language_to_chzn .pas,
#edit_language_from_chzn .pas,
.search-results .language-to .pas,
.node-lexicon .language-from .pas,
.node-lexicon .pas {
  background: url("../gfx/flags/pashto.gif") no-repeat 0 center;
}
#edit_language_to_chzn .per,
#edit_language_from_chzn .per,
.search-results .language-to .per,
.node-lexicon .language-from .per,
.node-lexicon .per {
  background: url("../gfx/flags/persiska.gif") no-repeat 0 center;
}
#edit_language_to_chzn .ser,
#edit_language_from_chzn .ser,
.search-results .language-to .ser,
.node-lexicon .language-from .ser,
.node-lexicon .ser {
  background: url("../gfx/flags/serbiska.gif") no-repeat 0 center;
}
#edit_language_to_chzn .som,
#edit_language_from_chzn .som,
.search-results .language-to .som,
.node-lexicon .language-from .som,
.node-lexicon .som {
  background: url("../gfx/flags/somaliska.gif") no-repeat 0 center;
}
#edit_language_to_chzn .spa,
#edit_language_from_chzn .spa,
.search-results .language-to .spa,
.node-lexicon .language-from .spa,
.node-lexicon .spa {
  background: url("../gfx/flags/spanska.gif") no-repeat 0 center;
}
#edit_language_to_chzn .sve,
#edit_language_from_chzn .sve,
.search-results .language-to .sve,
.node-lexicon .language-from .sve,
.node-lexicon .sve {
  background: url("../gfx/flags/svenska.gif") no-repeat 0 center;
}
#edit_language_to_chzn .syd,
#edit_language_from_chzn .syd,
.search-results .language-to .syd,
.node-lexicon .language-from .syd,
.node-lexicon .syd {
  background: url("../gfx/flags/sydkurdiska.png") no-repeat 0 center;
}
#edit_language_to_chzn .tur,
#edit_language_from_chzn .tur,
.search-results .language-to .tur,
.node-lexicon .language-from .tur,
.node-lexicon .tur {
  background: url("../gfx/flags/turkiska.gif") no-repeat 0 center;
}
#edit_language_to_chzn .tys,
#edit_language_from_chzn .tys,
.search-results .language-to .tys,
.node-lexicon .language-from .tys,
.node-lexicon .tys {
  background: url("../gfx/flags/tyska.gif") no-repeat 0 center;
}
#edit_language_to_chzn .flag,
#edit_language_from_chzn .flag,
.search-results .language-to .flag,
.node-lexicon .language-from .flag,
.node-lexicon .flag {
  padding-left: 40px !important;
  background-size: 20px 12px;
  background-position: 10px center;
}
.texture-grey {
  background: url("../gfx/texture-grey.png") repeat #dddddd;
  background-size: 55px;
}
.texture-black {
  background-image: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  background: url("../gfx/texture-black.png") repeat #232323 !important;
  background-size: 64px !important;
}
.texture-cream {
  background-color: #f0f0f0;
}
.node-type-document article {
  padding: 20px 0;
  border-top: 1px dashed #454544;
}
.node-type-document article .article-wrapper {
  padding: 20px 30px;
  -moz-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
  font-family: "ff-tisa-web-pro", georgia, serif;
}
.node-type-document article .article-wrapper span.uppslag {
  font-weight: bold;
}
.node-type-document article .article-wrapper sup {
  font-size: smaller;
  line-height: normal;
  vertical-align: super;
  top: 0;
}
.node-type-document article .article-wrapper sub {
  font-size: smaller;
  vertical-align: sub;
  bottom: 0;
}
.page-lexikon .huvud .uppslag {
  margin-right: 4px;
}
.page-lexikon .neopetit {
  font-size: 0.8496em;
}
.page-lexikon .neokap {
  font-size: 0.8496em;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.page-lexikon .nehf,
.page-lexikon .hf {
  font-weight: bold;
}
.page-lexikon .hfk {
  font-weight: bold;
  font-style: italic;
}
.page-lexikon .best {
  color: black;
  font-family: "myriad-pro-condensed", sans-serif;
  letter-spacing: 1.1px;
  line-height: 135%;
}
.page-lexikon .wordClass {
  font-style: italic;
}
/* Artikel CSS */
.nefigure {
  background-color: white;
}
span.huvud {
  text-transform: capitalize;
  font-weight: bold;
}
.bild {
  float: left;
}
figcaption {
  padding-top: 4px;
  text-align: left;
  font-size: 0.9em;
  color: #666;
}
.node h2 {
  font-size: medium;
}
.node h2 a {
  font-size: medium;
  color: #333;
  text-decoration: none;
}
.texture-cream {
  padding-bottom: 32px;
  -moz-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
}
.texture-grey {
  border-top: 1px dashed grey;
}
.article-wrapper {
  margin-top: 32px;
  padding-top: 16px;
  padding-bottom: 48px;
}
.node-type-encyklopedia article {
  min-height: 480px !important;
}
.node-type-encyklopedia .texture-cream {
  min-height: 480px;
}
.encyklopedia-content .pane-title {
  margin: 32px 30px 0 30px;
}
.encyklopedia-content h4 {
  margin-top: 30px;
  padding-left: 30px;
}
.pane-title {
  margin-top: 32px;
  border: #000 1px dotted;
  border-style: none none dashed;
  border-color: gray;
}
.encyklopedia-content .main {
  padding: 10px 30px;
}
.encyklopedia-topbar {
  width: 100%;
  height: 32px;
  text-transform: uppercase;
}
.encyklopedia-topbar .item {
  width: 25%;
  background-color: #d9d8d4;
  float: left;
  height: 41px;
}
/* TODO: 20px when screen is more narrow */
.encyklopedia-topbar .itemtext {
  padding-left: 0px !important;
  padding-top: 6px;
  padding-bottom: 7px;
  text-align: center;
}
.encyklopedia-topbar .itemtext .nav {
  margin-bottom: 0;
}
.content,
.view-content {
  font-family: "ff-tisa-web-pro", georgia, serif;
}
.leftborder {
  border-left-color: gray;
  border-left-style: dotted;
  border-left-width: 1px;
}
.encyklopedia-topbar .itemtext a {
  color: black;
  font-family: "myriad-pro-condensed", sans-serif;
  font-size: 1.2em;
  letter-spacing: 2px;
  font-weight: 600;
}
.encyklopedia-topbar li a {
  font-size: 1em;
}
.encyklopedia-topbar li a:hover {
  background-color: transparent !important;
}
.encyklopedia-topbar .item a {
  color: #aeaead;
  letter-spacing: 2px;
  font-weight: bold;
}
.encyklopedia-topbar .encyklopedia-menutopbar-divider {
  border-left: silver solid 1px;
}
.encyklopedia-topbar .encyklopedia-menutopbar-color {
  border-top-color: #a2c1c7;
  border-top-style: solid;
  border-top-width: 8px;
}
.encyklopedia-topbar .item-selected .encyklopedia-menutopbar-color {
  border-top-color: #5eb4c6;
  background-color: #f0f0f0;
}
.encyklopedia-topbar .item-selected .encyklopedia-menutopbar-color a {
  color: #454544;
}
.encyklopedia-topbar .item a:hover,
.encyklopedia-topbar .itemtext a:hover {
  text-decoration: none;
}
.encyklopedia-topbar ul.dropdown-menu {
  padding-top: 12px;
  padding-bottom: 12px;
  margin-left: 20px;
  margin-top: 10px;
}
.encyklopedia-topbar ul.dropdown-menu li a {
  font-size: 1em !important;
  text-align: left;
}
.view-encyklopedia-relaterat li {
  padding-bottom: 24px !important;
  padding-left: 18px  !important;
}
.view-encyklopedia-relaterat li a {
  font-weight: bold;
  text-decoration: none;
  font-size: 1.2em;
}
.view-encyklopedia-relaterat li div.readmore {
  background-color: #C2C2BC;
  text-align: center;
  margin: auto;
  padding: 5px;
}
.view-encyklopedia-relaterat li div.readmore a {
  text-decoration: none;
  font-size: 1.2em;
  font-weight: normal;
  letter-spacing: 3px;
  color: white;
  text-transform: uppercase;
  font-family: "ff-tisa-web-pro", georgia, serif;
}
.encyklopedia-relaterat-list ul {
  margin: 0px;
  padding-top: 12px;
}
.encyklopedia-content-columns {
  padding-top: 24px;
}
.encyklopedia-content-columns h4 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5em;
  padding-bottom: 24px;
  margin-left: 18px;
  border-bottom: 1px dashed #454544;
}
/* The little arrow on top of dropdown menu */
.encyklopedia-topbar li > .dropdown-menu::before {
  position: absolute;
  top: -7px;
  left: 119px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}
/* The little arrow on top of dropdown menu */
.encyklopedia-topbar li > .dropdown-menu::after {
  position: absolute;
  top: -6px;
  left: 120px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  border-left: 6px solid transparent;
  content: '';
}
/*
* Relaterat
*/
.encyklopedia-content-column {
  border-left-style: dashed;
  border-left-color: gray;
  border-left-width: 1px;
  min-height: 150px;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 400px;
}
.masonry {
  margin: 30px;
}
.masonry_col {
  width: 360px;
}
.ne_bild img {
  width: 360px;
}
/*Artikel CSS slut *//*
 * Original styling by Norstedts
 */
.node-lexicon {
  /* NE classes generated from <font> tag in norstedts */

  /*
 * NE specific styling
 */

}
.node-lexicon .lv5,
.node-lexicon .swb,
.node-lexicon .tsl,
.node-lexicon .vbc,
.node-lexicon .vok {
  /* brödstil: Sabon normalstor rak stil som mest används för översättningar */

  font-family: "ff-tisa-web-pro", georgia, serif;
  font-size: 14px;
  font-style: normal;
}
.node-lexicon .ipa,
.node-lexicon .ipb,
.node-lexicon .ita {
  /* Fonetikfont: en font med seriffer som kan återge fonetiska tecken */

  font-family: "ff-tisa-web-pro", georgia, serif;
  font-size: 14px;
  font-style: normal;
}
.node-lexicon .fem,
.node-lexicon .hom,
.node-lexicon .hwd,
.node-lexicon .lv1,
.node-lexicon .lv2,
.node-lexicon .lv3,
.node-lexicon .lv4,
.node-lexicon .txt,
.node-lexicon .var {
  /* Uppslagsordstil: Franklin stor fet */

  font-family: "myriad-pro-condensed", sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
}
.node-lexicon .idm,
.node-lexicon .phi,
.node-lexicon .rfl {
  /* Frasstil: Franklin som uppslagsordsstilen men lite mindre och kursiv */

  font-family: "ff-tisa-web-pro", georgia, serif;
  font-size: 13px;
  font-weight: bold;
}
.node-lexicon .aba,
.node-lexicon .abb,
.node-lexicon .aua,
.node-lexicon .exa,
.node-lexicon .exb,
.node-lexicon .ffa,
.node-lexicon .ffb,
.node-lexicon .ifa,
.node-lexicon .psa,
.node-lexicon .psb,
.node-lexicon .ref,
.node-lexicon .spa,
.node-lexicon .swa {
  /* Kursiv: Sabon normalstor men kursiv */

  font-family: "ff-tisa-web-pro", georgia, serif;
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
}
.node-lexicon .btx,
.node-lexicon .bty,
.node-lexicon .coa,
.node-lexicon .cob,
.node-lexicon .dfb,
.node-lexicon .gra,
.node-lexicon .grb,
.node-lexicon .gri,
.node-lexicon .ila,
.node-lexicon .ilb,
.node-lexicon .rca,
.node-lexicon .rcb,
.node-lexicon .rtx,
.node-lexicon .rty,
.node-lexicon .sca,
.node-lexicon .scb,
.node-lexicon .sea,
.node-lexicon .seb,
.node-lexicon .sfa,
.node-lexicon .sfb,
.node-lexicon .sva,
.node-lexicon .svb {
  /* Liten: Sabon liten rak */

  font-family: "ff-tisa-web-pro", georgia, serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
}
.node-lexicon .ifb,
.node-lexicon .ifl {
  /* Liten kursiv: Sabon liten kursiv */

  font-family: "ff-tisa-web-pro", georgia, serif;
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
}
.node-lexicon .pnc {
  /* ??? liten/brödstil */

  font-family: "ff-tisa-web-pro", georgia, serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
}
.node-lexicon .phv {
  /* PHV-stil: Franklin som uppslagsordsstilen men mindre */

  font-family: "myriad-pro-condensed", sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
}
.node-lexicon .ipx,
.node-lexicon .itx {
  /* Understruken fonetikfont: understruken fonetikfont (finns bara i lilla engelska) */

  font-family: "ff-tisa-web-pro", georgia, serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  text-decoration: underline;
}
.node-lexicon .small-text {
  font-size: 12px;
}
.node-lexicon .normal-text {
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  font-family: "ff-tisa-web-pro", georgia, serif;
  text-decoration: none;
}
.node-lexicon .small-caps {
  font-variant: small-caps;
}
.node-lexicon.full {
  padding: 20px !important;
}
.node-lexicon .error {
  /* Hide error messages generated by Norstedts */

  display: none;
}
.node-lexicon .main {
  border-bottom: 0 !important;
}
.node-lexicon h2#headword {
  margin: 0 0 10px 0;
  padding-left: 0;
  padding-bottom: 10px;
  border-bottom: 1px dashed #454544;
  text-transform: none;
  font-size: 2em;
}
.node-lexicon h3 {
  text-transform: uppercase;
}
.node-lexicon .language-to > div,
.node-lexicon .language-from > div {
  padding-left: 54px;
  background-size: 46px 26px !important;
  font-family: "myriad-pro-condensed", sans-serif;
  font-weight: 600;
  font-size: 2em;
  line-height: 1.3em;
}
.node-lexicon .language-from {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px dashed #454544;
}
.node-lexicon .toggle {
  display: block;
  width: 70px;
  margin-top: 3px;
  margin-bottom: 3px;
  color: #999999;
  font-size: 1.1em;
  font-family: "myriad-pro-condensed", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.05em;
}
.node-lexicon .form-group {
  margin-bottom: 40px !important;
  display: block;
  margin-bottom: 10px;
}
.node-lexicon .sem-group {
  display: block;
  margin-bottom: 20px;
}
.node-lexicon .lv1-group {
  display: block;
}
.node-lexicon .lv4-group {
  /* Puts lv4 group on its on row and spacing*/

  display: block;
  margin-top: 10px;
}
.node-lexicon .lv5-group {
  display: block;
  padding-left: 14px;
}
.node-lexicon .phrase-group {
  /* Put phrase groups and phrases in a box */

  -moz-box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.6);
  -o-box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.6);
  background-color: rgba(0, 0, 0, 0.04);
  padding: 10px;
  margin-bottom: 14px !important;
  margin-top: 4px;
  border-radius: 4px;
  display: block;
  border-bottom: 1px solid white;
}
.node-lexicon .phrase {
  display: block;
  margin-bottom: 3px;
}
.node-lexicon .phrase > .skl:after {
  display: block;
  height: 1px;
  font-size: 1px;
  overflow: hidden;
  content: " ";
}
.node-lexicon .phrase > .skl > .tsl-group {
  padding-left: 0px;
}
.node-lexicon .gen-bet-group {
  display: block;
  margin-top: 10px;
  padding-top: 10px;
}
.node-lexicon .gen-bet-group + .phrase-group {
  margin-top: 5px;
}
.node-lexicon .gen-bet-group > .a-label-group > span.sea {
  font-family: "myriad-pro-condensed", sans-serif;
  font-size: 1.3em;
  font-weight: 600;
}
.node-lexicon .psa-group {
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: "myriad-pro-condensed", sans-serif !important;
  text-transform: uppercase;
}
.node-lexicon .psa-group .psa,
.node-lexicon .psa-group .small-text {
  font-family: "myriad-pro-condensed", sans-serif;
  font-size: 1.4em;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 600;
}
.node-lexicon .tilde + .small-text,
.node-lexicon .small-text + .tilde {
  /* Fixes spacing */

  margin-left: 2px;
}
.node-lexicon .idm + .a-label-group {
  /* Fixes spacing */

  margin-left: 3px;
}
.node-lexicon .btx {
  /* Fixes spacing */

  padding-left: 4px;
}
.node-lexicon .hwd,
.node-lexicon .hom {
  /* Don't display headword since we're displaying the title of the node */

  /* Don't display homonym number since homonyms will render as differnet nodes (?) */

  display: none;
}
.node-lexicon .tsl {
  /* Color translations */

  font-weight: bold;
  color: #ad77a6;
}
.node-lexicon .partikelverb {
  /* Display partikelverb on its own row and fix spacing */

  display: block;
  margin-bottom: 10px;
  border-bottom: 1px dashed #ccc;
  padding-bottom: 10px;
}
.node-lexicon .partikelverb .partikel-bet {
  display: block;
  margin-bottom: 10px;
}
.node-lexicon .partikelverb .phv {
  font-family: "ff-tisa-web-pro", georgia, serif;
  font-size: 1em;
  margin-right: 2px;
  font-weight: bold;
  display: block;
}
.page-spraklexikon .pane-node-content {
  padding: 40px;
}
.page-spraklexikon h2 {
  padding-top: 0;
  margin-top: 0;
}
.page-spraklexikon #headword {
  border-bottom: 0 !important;
  padding-bottom: 10px;
}
.page-spraklexikon .node {
  padding: 0 !important;
}
.page-uppslagsverk .node-lexicon .field-name-body .field-item span {
  margin-right: 10px;
}
.page-uppslagsverk .node-lexicon .field-name-body .field-item span.pnc {
  margin-left: -10px;
}
.page-uppslagsverk .node-lexicon .field-name-body span.syn {
  color: #454544;
  font-family: "ff-tisa-web-pro", georgia, serif;
  font-weight: bold;
}
.node-lexicon.syn .field-item p {
  float: left;
  margin-bottom: 20px;
}
.node-lexicon.syn exa,
.node-lexicon.syn syh {
  display: none;
}
.node-lexicon.syn span.syn {
  color: #454544;
  font-family: "ff-tisa-web-pro", georgia, serif;
  font-weight: bold;
}
.node-lexicon.syn span {
  display: block;
  float: left;
  margin-right: 10px;
  font-size: 1em !important;
}
.node-lexicon.syn .lv3 {
  display: block;
  clear: both;
}
.node-lexicon.syn .pnc {
  margin-left: -10px;
}
.node-type-dictionary .pane-node-content {
  padding: 40px;
}
.node-type-dictionary h2 {
  padding-top: 0;
  margin-top: 0;
}
.node-type-dictionary #headword {
  border-bottom: 0 !important;
}
.node-type-dictionary .node {
  padding: 0 !important;
}
.node-type-dictionary .node .content {
  font-family: "ff-tisa-web-pro", georgia, serif;
}
.node-type-dictionary p.headword {
  display: none;
}
.node-type-dictionary .article-wrapper {
  margin-bottom: 48px;
}
#search-middle {
  position: relative;
}
#search-middle .pushes {
  padding-bottom: 20px;
}
.facet#activelabel {
  display: none;
  text-transform: uppercase;
}
.facet-toggle {
  display: none;
}
.search-facet.top {
  display: none;
}
ul.facetapi-facetapi-tab-links {
  display: block;
  margin-bottom: 0;
}
ul.facetapi-facetapi-tab-links .facetcount1,
ul.facetapi-facetapi-tab-links .facetcount2 {
  width: 50%;
}
ul.facetapi-facetapi-tab-links li {
  width: 25%;
  display: block;
  padding: 8px 0;
  float: left;
  background-color: #f0f0f0;
  color: #454544;
  font-size: 1.2em;
  font-family: "myriad-pro-condensed", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.1em;
  border-right: 1px solid #bbb;
}
ul.facetapi-facetapi-tab-links li a {
  text-decoration: none !important;
  white-space: nowrap;
  color: #454544;
}
ul.facetapi-facetapi-tab-links li:not(.first) {
  border-left: 1px solid #ddd;
}
ul.facetapi-facetapi-tab-links li.facetapi-tabs-active {
  border-top: 8px solid #5eb4c6;
  position: relative;
  z-index: 10;
  top: 1px;
}
ul.facetapi-facetapi-tab-links li.facetapi-tabs-inactive {
  border-top: 8px solid #a2c1c7;
  background-image: none;
  background-color: #d9d8d4;
}
ul.facetapi-facetapi-tab-links li.facetapi-tabs-inactive a {
  width: 100%;
  display: block;
  color: #aeaead;
}
.normal-search {
  clear: both;
}
.normal-search .search-results {
  margin-left: 0;
  margin-bottom: 0px;
  -moz-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
}
.normal-search .search-results .search-hit {
  padding-left: 40px;
}
.normal-search .search-results .node {
  border-top: 1px solid white;
  border-bottom: 1px solid #d0d0d0;
  background-color: #f0f0f0;
}
.normal-search .search-results .node.full {
  border-bottom: 0;
}
.normal-search .search-results .node .tsl {
  color: #454544;
}
.normal-search .search-results .node .main {
  padding: 0 0 8px 0;
  padding-bottom: 8px;
}
.normal-search .search-results .node .huvud {
  font-weight: normal;
}
.normal-search .search-results .node h2 {
  font-family: "ff-tisa-web-pro", georgia, serif;
  margin-bottom: 0;
  font-size: 1.3em;
  font-weight: 600 !important;
  margin-bottom: 0;
}
.normal-search .search-results .node h2 a {
  font-size: inherit;
  color: #1291aa;
}
.normal-search .search-results .node h2 a:hover {
  text-decoration: none;
  color: #1bc7e5;
}
.normal-search .search-results .node .content {
  font-family: "ff-tisa-web-pro", georgia, serif;
}
/*
 * General UI components such as dropdown menus etc.
 */
ul.dropdown-menu {
  padding-left: 8px;
  padding-right: 8px;
}
ul.dropdown-menu li a {
  text-transform: none;
  color: #999999;
  padding-left: 12px;
}
b.caret {
  margin-top: 8px !important;
  margin-left: 3px;
}
/*
 * The dividing line between dropdown menu items
 
.dropdown-menu li:after 
{
    content: "";
    margin-top: 7px;
    margin-bottom: 7px; 
    display: block;
    height: 2px;
    border-bottom: 1px dashed @dark-grey;
}

.nav > li > a:hover {
    background: none !important;
}*/
li.divider:before {
  content: "";
  margin-top: 7px;
  margin-bottom: 20px;
  display: block;
  height: 2px;
  border-bottom: 1px dashed #454544;
}
/*
.dropdown-menu li:hover {
    border-left-width: 8px;
    border-left-color: @encyklopedia-navbar-selected;
    border-left-style: solid;
    margin-left: -8px;
}*/
/*
 * Resetting the twitter bootstrap drowndown menu item hover
*/.dropdown-menu li a {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  margin-left: -8px;
  margin-right: -8px;
}
.dropdown-menu li a:hover {
  background-image: none;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #ddd;
  background-color: #eee !important;
  color: #454544 !important;
  box-shadow: inset 0px 10px 20px 0px #ffffff;
}
/*
 * Styling for chosen dropdown menu
 */
.chzn-search {
  display: none !important;
}
.chzn-container-single {
  width: auto !important;
}
.chzn-container .chzn-results {
  min-width: 200px;
  margin: 0 !important;
  padding: 12px 0px 12px !important;
  border-radius: 5px;
  color: #999;
  font-family: "myriad-pro-condensed", sans-serif;
  font-size: 1.3em;
  -moz-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.15);
}
.chzn-container .chzn-results li {
  padding: 10px 8px 10px 8px !important;
  line-height: 30px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
.chzn-container .chzn-results li.highlighted {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #ddd;
  background-color: #eee !important;
  color: #454544 !important;
  -moz-box-shadow: inset 0px 10px 20px 0px #ffffff;
  -o-box-shadow: inset 0px 10px 20px 0px #ffffff;
  -webkit-box-shadow: inset 0px 10px 20px 0px #ffffff;
  box-shadow: inset 0px 10px 20px 0px #ffffff;
}
.chzn-single {
  overflow: visible !important;
  font-size: 14px;
  border: 0 !important;
  background-image: none !important;
  background: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  color: #999 !important;
}
.chzn-single div b {
  background: url('../gfx/chosen-sprite.png') no-repeat 0px 7px !important;
}
.chzn-drop {
  width: auto !important;
  top: 40px !important;
  border-radius: 5px !important;
  border: 0 !important;
}
.chzn-drop:after {
  content: '';
  display: inline-block;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  position: absolute;
  top: -10px;
  left: 10px;
}
.chzn-single,
.chzn-single-with-drop {
  outline: none !important;
  height: 36px !important;
}
.chzn-single span,
.chzn-single-with-drop span {
  background-position: left center;
  background-size: 26px 15px !important;
  padding: 0 12px 0 30px;
  font-weight: 600;
  margin-right: 10px !important;
  font-family: "myriad-pro-condensed", sans-serif;
  font-size: 1.4em;
  height: 36px;
  line-height: 36px;
  color: #454544;
}
/*
 * Styling for user dropdown
 */
.userdropdown b.caret {
  border-top-color: #999999;
  top: 2px;
  position: relative;
  left: 4px;
}
.userdropdown ul {
  position: absolute;
  padding-top: 10px;
  padding-bottom: 10px;
  white-space: nowrap;
  right: 0;
  left: auto;
  top: 32px;
  text-align: right;
  font-size: 0.8em !Important;
  min-width: 0;
  border: none;
}
.userdropdown ul:after {
  content: '';
  display: inline-block;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  position: absolute;
  top: -7px;
  left: 58px;
}
.userdropdown ul a {
  margin-left: -7px;
  margin-right: -7px;
  padding-left: 18px;
}
/*
 * Styling for autocomplete
 */
.ac_results {
  border: 0;
  padding-top: 12px;
  background: none;
  overflow: visible;
  max-width: 315px;
}
.ac_results:after {
  content: '';
  display: inline-block;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  position: absolute;
  top: 2px;
  left: 26px;
}
.ac_results ul {
  padding: 12px 0px 12px !important;
  -moz-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
}
.ac_results li.ac_even,
.ac_results li.ac_odd {
  font-weight: bold;
  padding: 10px 8px 10px 8px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  background: none;
  color: #999;
  font-family: "myriad-pro-condensed", sans-serif;
  font-size: 1.2em;
  letter-spacing: normal;
}
.ac_results li.ac_even.ac_over,
.ac_results li.ac_odd.ac_over {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #ddd;
  background-color: #eee !important;
  color: #454544 !important;
  -moz-box-shadow: inset 0px 10px 20px 0px #ffffff;
  -o-box-shadow: inset 0px 10px 20px 0px #ffffff;
  -webkit-box-shadow: inset 0px 10px 20px 0px #ffffff;
  box-shadow: inset 0px 10px 20px 0px #ffffff;
}
.ac_results .suggestion {
  font-weight: normal;
}
.ac_results span.message {
  font-style: italic;
  font-weight: normal;
}
.ac_results .message {
  font-size: 1em;
  color: inherit;
  font-weight: normal;
}
.ac_results .count {
  font-weight: normal;
}
/*
 * Paginator style
 */
ul.pager {
  padding: 10px;
  padding-left: 32px;
  border-top: 1px solid white;
  background-color: #f0f0f0;
  text-align: left !important;
  -moz-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
}
ul.pager li {
  padding: 5px 10px !important;
  float: left;
  font-size: 1.1em;
  color: #ccc;
  -moz-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7) !important;
  -o-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7) !important;
  -webkit-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7) !important;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7) !important;
}
ul.pager li a {
  background: none;
  border: none;
  padding: 0;
  color: #999999;
}
ul.pager li a:hover {
  background: none;
  color: #1bc7e5;
}
ul.pager li.pager-current {
  color: #454544;
}
ul.pager li.pager-previous {
  border-right: 1px solid #ddd;
  padding: 5px 20px 5px 0px !important;
}
ul.pager li.pager-previous a {
  color: #1291aa;
}
ul.pager li.pager-next {
  border-left: 1px solid white;
  border-right: 1px solid #ddd;
  padding: 5px 20px !important;
}
ul.pager li.pager-next a {
  color: #1291aa;
}
ul.pager li.pager-next + li {
  border-left: 1px solid white;
  padding-left: 20px !important;
}
ul.pager li.pager-ellipsis {
  color: #999999;
}
.flex-control-nav {
  top: 16px;
  z-index: 10;
  padding: 0;
  margin: 0;
  float: left;
  text-align: center;
  max-width: 960px;
  width: 100%;
}
.flex-control-nav li {
  height: 10px;
  cursor: pointer;
  line-height: 1.3em;
  width: 11px;
  display: inline-block;
  position: relative;
  z-index: 20;
  background: url("../gfx/bullet-slider.png") no-repeat 0 0 transparent;
}
.flex-control-nav li.active {
  background-position: 0 100%;
}
.flex-control-nav li a {
  vertical-align: middle;
}
.flex-control-nav li a span {
  vertical-align: middle;
  line-height: 1em;
}
.pushes {
  border-top: 1px dashed #888;
  padding-top: 30px;
  background-size: 100px;
  min-height: 200px;
}
.pushes-bottom {
  clear: both;
}
.pane-pushes.large {
  margin-top: 10px;
  background: #ffffff;
  background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #f0f0f0 63%);
  background: -webkit-gradient(radial, center center, 0px, center center, 63%, color-stop(0%, #ffffff), color-stop(63%, #f0f0f0));
  background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%, #f0f0f0 63%);
  background: -o-radial-gradient(center, ellipse cover, #ffffff 0%, #f0f0f0 63%);
  background: -ms-radial-gradient(center, ellipse cover, #ffffff 0%, #f0f0f0 63%);
  background: radial-gradient(ellipse at center, #ffffff 0%, #f0f0f0 63%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='@from', endColorstr='@to', GradientType=1);
}
.pane-pushes.large .views-row {
  display: block;
  position: relative;
  z-index: 100;
  text-align: center;
}
.pane-pushes.large .views-row .meta {
  width: 100%;
  top: 10px;
  position: absolute;
}
.pane-pushes.large .views-row .meta .subheader {
  width: 40%;
  margin: 0 auto;
}
.pane-pushes.large .views-row .meta .heading {
  margin: 0 auto;
  width: 70%;
}
.pane-pushes.large .views-row .meta h2 {
  color: #454544;
  font-size: 6em;
  line-height: 1em;
  font-weight: 600;
  text-transform: uppercase;
}
.pane-pushes.large .views-row .meta a.btn-push {
  display: none;
}
.pane-pushes.push-small {
  margin-bottom: 20px;
}
.pane-pushes.push-small .views-row {
  background-size: 100px;
  -moz-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
}
.pane-pushes.push-small .views-row a.push {
  text-decoration: none;
  color: #605f5f;
}
.pane-pushes.push-small .views-row h2 {
  text-align: center;
  font-size: 2.8em;
  color: #454544;
  font-weight: normal;
  font-family: "bebas-neue", sans-serif;
  margin: 7px 0 4px 0;
  text-transform: uppercase;
}
.pane-pushes.push-small .views-row .meta {
  background: #f0f0f0;
  padding: 15px;
  min-height: 190px;
  position: relative;
}
.pane-pushes.push-small .views-row .meta p {
  font-family: "ff-tisa-web-pro", georgia, serif;
  font-size: 12px;
}
.pane-pushes.push-small.word-push h2 {
  font-family: "ff-tisa-web-pro", georgia, serif;
  font-size: 1.4em !important;
  font-weight: 600;
  text-align: left;
  border-top: 1px dashed #454544;
}
.pane-pushes.push-small.word-push .subheader {
  display: none;
}
.pane-pushes.push-small.date-push h2 {
  color: #ccc;
  font-size: 2.8em !important;
  letter-spacing: 5px;
  font-weight: 600;
}
.pane-pushes.push-small.date-push p {
  font-family: "myriad-pro-condensed", sans-serif !important;
  font-size: 4.4em !important;
  line-height: 0.7em;
}
.pane-pushes.push-small.date-push .subheader {
  display: none;
}
.subheader {
  color: #454544;
  text-align: center;
  font-family: "myriad-pro-condensed", sans-serif;
  text-transform: uppercase;
}
.subheader span {
  font-size: 1.5em;
  z-index: 10;
  position: relative;
  padding: 0 10px;
  font-weight: 600;
  letter-spacing: 0.2em;
  display: table-row;
  width: 100%;
  white-space: nowrap;
}
.subheader span:before,
.subheader span:after {
  content: "";
  border-top: 1px dashed #848d8a;
  display: table-cell;
  width: 50%;
  position: relative;
  top: 0.4em;
}
.btn-push-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: block;
  margin-bottom: 15px;
}
.btn-push {
  display: block;
  width: auto;
  padding: 3px 0;
  margin: 0 15px 0 15px;
  background-color: #babab7;
  color: white;
  letter-spacing: 0.2em;
  text-align: center;
  font-family: "myriad-pro-condensed", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}
.btn-push:hover {
  text-decoration: none;
  background-color: #9c9c9a;
  color: white;
}
.node-type-page article {
  padding-top: 50px;
  padding-bottom: 50px;
}
.node-type-page h1 {
  font-family: "ff-tisa-web-pro", georgia, serif;
  font-size: 1.5em;
  margin-top: 0;
}
.node-type-page .main,
.node-type-page .sidebar {
  font-family: "ff-tisa-web-pro", georgia, serif;
  margin-bottom: 20px;
  margin-top: 10px;
}
.node-type-page .main ul li,
.node-type-page .sidebar ul li {
  list-style-type: disc;
}
.node-type-page .main .field-name-field-subtitle {
  font-weight: bold;
  font-family: "myriad-pro-condensed", sans-serif;
  font-size: 1.3em;
}
.node-type-page .sidebar .pane-content {
  font-size: 0.85em;
}
.node-type-page .sidebar ul {
  padding: 0;
  margin-top: 18px;
  margin-bottom: 0;
}
.node-type-page .sidebar ul li {
  margin-bottom: 10px;
  list-style-type: none !important;
}
.node-type-page .sidebar ul a {
  padding: 0;
  color: #1291aa;
}
.node-type-page .sidebar ul a:hover {
  color: #1bc7e5;
  background: none;
}
.node-type-page .sidebar ul a.active {
  color: #605f5f;
  background: none;
}
.node-type-page .sidebar ul a.active:hover {
  background: none;
  color: #605f5f;
}
.panel-3col {
  padding-top: 30px;
}
.panel-3col .panel-separator {
  margin: 0;
}
.panel-3col h2.pane-title {
  padding-top: 0;
  padding-bottom: 10px;
  font-family: "ff-tisa-web-pro", georgia, serif;
  font-size: 1.3em;
  line-height: 1.3em;
  margin-top: 10px;
}
.panel-3col .panel-panel {
  margin-bottom: 20px;
  border-top: 8px solid #fffbcc;
}
.panel-3col .panel-panel .panel-pane {
  padding: 8px 20px 20px;
}
.panel-3col .panel-panel .pane-node-field-page-image {
  padding: 0;
}
.panel-3col .top-image img {
  width: 100%;
}
.panel-3col .summary {
  font-size: 1.3em;
  line-height: 1.3em;
  margin-bottom: 20px;
}
.panel-3col h4 {
  margin-top: 24px !important;
}
.pane-menu-menu-about-ne li {
  display: block;
  clear: both;
}
body {
  background-color: #f0f0f0;
  color: #454544;
  font-family: "ff-tisa-web-pro", georgia, serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "myriad-pro-condensed", sans-serif;
}
h1 {
  font-size: 3.4em;
  letter-spacing: -0.05em;
}
h4 {
  font-family: "ff-tisa-web-pro", georgia, serif;
  font-size: 1.3em;
}
ul {
  list-style-type: none;
}
a {
  color: #1291aa;
  text-decoration: none;
}
a:hover {
  color: #1bc7e5;
  text-decoration: none;
}
.node-type-encyklopedia h2,
.node-type-dictionary h2,
.node-type-lexicon h2 {
  font-family: "ff-tisa-web-pro", georgia, serif;
  padding-bottom: 10px;
}
.center {
  text-align: center;
}
.rainbow {
  width: 100%;
  height: 5px;
}
.rainbow div {
  width: 5%;
  height: 5px;
  float: left;
}
.rainbow .r1 {
  background-color: #ffeec3;
}
.rainbow .r2 {
  background-color: #ffffcc;
}
.rainbow .r3 {
  background-color: #f6ffcc;
}
.rainbow .r4 {
  background-color: #d4eeaa;
}
.rainbow .r5 {
  background-color: #ddeed4;
}
.rainbow .r6 {
  background-color: #a1d4c3;
}
.rainbow .r7 {
  background-color: #c3e5ee ;
}
.rainbow .r8 {
  background-color: #a1dde5;
}
.rainbow .r9 {
  background-color: #e5f6ff;
}
.rainbow .r10 {
  background-color: #d4eef6;
}
.rainbow .r11 {
  background-color: #d4ddf6;
}
.rainbow .r12 {
  background-color: #ccddee;
}
.rainbow .r13 {
  background-color: #aa99c3;
}
.rainbow .r14 {
  background-color: #ddc3dd;
}
.rainbow .r15 {
  background-color: #c399cc;
}
.rainbow .r16 {
  background-color: #ddaae5;
}
.rainbow .r17 {
  background-color: #f6d4e5;
}
.rainbow .r18 {
  background-color: #f699cc;
}
.rainbow .r19 {
  background-color: #ffe5e5;
}
.rainbow .r20 {
  background-color: #f6ccc3;
}
.page-uppslagsverk-sok h1,
.page-spraklexikon-sok h1 {
  margin-top: 60px;
  line-height: 1em;
  text-transform: uppercase;
}
section#content-main {
  min-height: 350px;
}
.hasPlaceholder {
  color: #777;
}
.error-page .pane-custom {
  margin-bottom: 100px;
}
.row-fluid,
.container-fluid {
  max-width: 960px;
  margin: 0 auto;
  padding: 0;
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (max-moz-device-pixel-ratio: 2) {
  .logo {
    background: url("../gfx/ne-logo@2x.png") no-repeat transparent;
    background-size: 52px 35px;
  }
  .pane-ne-user-ne-user-login ul.login li {
    background-size: 17px 16px;
  }
  .texture-grey {
    background: url("../gfx/texture-grey@2x.png") repeat #dddddd !important;
    background-size: 55px !important;
  }
  .texture-black {
    background-image: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    background: url("../gfx/texture-black@2x.png") repeat #232323 !important;
    background-size: 64px !important;
  }
  .form-item-ne-lexicon-block-form-q:before,
  .form-item-ne-search-block-form-q:before {
    background: url("../gfx/icn-search@2x.png") no-repeat 12px 13px transparent !important;
    background-size: 15px !important;
  }
  input#edit-ne-search-block-form-q.throbbing,
  input#edit-ne-lexicon-block-form-q.throbbing {
    background-image: url("../gfx/spinner_48.gif") !important;
    background-size: 24px !important;
    background-position: 97% center !important;
  }
  #edit-submit-swap {
    background: url("../gfx/arrow-swap@2x.png") no-repeat center center transparent !important;
    background-size: 22px !important;
  }
  footer .logo-bottom {
    background: url("../gfx/ne-logo-slogan@2x.png") no-repeat transparent !important;
    background-size: 188px 44px !important;
  }
  footer .facebook a {
    background: url("../gfx/icn-facebook@2x.png") no-repeat transparent !important;
    background-size: 64px !important;
    background-position: 0 center !important;
  }
  footer .facebook a:hover {
    background-position: -32px center !important;
  }
  footer .twitter a {
    background: url("../gfx/icn-twitter@2x.png") no-repeat transparent !important;
    background-size: 64px !important;
    background-position: 0 center !important;
  }
  footer .twitter a:hover {
    background-position: -32px center !important;
  }
}
@media (min-width: 768px) {
  .facets {
    display: block !important;
  }
}
@media (max-width: 767px) {
  body {
    padding: 0 !important;
  }
  a.brand {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  a.brand .logo {
    background-size: 38px 26px;
    top: 4px;
    position: relative;
  }
  .pane-ne-user-ne-user-login {
    position: absolute;
    right: 10px;
    top: 20px;
  }
  .pane-ne-user-ne-user-login ul.login {
    text-indent: -9999px;
  }
  .pane-menu-menu-huvudmeny-premium ul.menu {
    width: auto;
    padding: 0;
    padding-left: 10px;
    top: 10px;
  }
  .pane-menu-menu-huvudmeny-premium ul.menu li a {
    border: 0 !important;
    font-size: 0.8em;
  }
  .pushes {
    padding: 10px;
  }
  .pane-pushes a.push {
    display: table;
    width: 100%;
  }
  .pane-pushes.large h2 {
    font-size: 3em !important;
  }
  .pane-pushes.word-push img {
    width: auto !important;
    max-width: 115px;
  }
  .pane-pushes.push-small {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .pane-pushes.push-small .meta {
    display: table-cell;
    vertical-align: top;
    padding-bottom: 0 !important;
    padding: 8px 12px 0 10px !important;
    width: 90%;
  }
  .pane-pushes.push-small .meta .subheader {
    text-align: left !important;
  }
  .pane-pushes.push-small .meta .subheader span {
    display: block;
    padding: 0;
    font-size: 0.8em;
    letter-spacing: 4px;
    line-height: 1.3em;
  }
  .pane-pushes.push-small .meta .subheader span:before,
  .pane-pushes.push-small .meta .subheader span:after {
    border: none;
  }
  .pane-pushes.push-small .meta h2 {
    font-size: 1.6em !important;
    text-align: left !important;
    border: 0 !important;
    margin-top: 0 !important;
    line-height: 1em;
    margin-bottom: 3px;
  }
  .pane-pushes.push-small .meta p {
    font-size: 10px;
    line-height: 1.3em;
    margin-bottom: 3px;
  }
  .pane-pushes.push-small .meta .btn-push {
    display: none;
  }
  .pane-pushes.push-small .field-name-field-push-image {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    width: 23%;
    height: 115px;
    width: 115px;
  }
  .pane-pushes.push-small .field-name-field-push-image .field-item {
    overflow: hidden;
  }
  .pane-pushes.push-small .field-name-field-push-image .field-item img {
    width: 280px !important;
    left: -33%;
    max-width: none;
    float: left;
    width: auto;
    position: relative;
  }
  .facet-toggle {
    display: block;
  }
  .facet#activelabel {
    display: block;
  }
  .facet#activelabel a {
    width: auto;
    display: block;
    padding: 6px 0;
    margin-right: 0;
    background: url("../gfx/texture-cream.png") repeat transparent !important;
    text-align: center;
    text-decoration: none;
    border-radius: 0 !important;
    border-left: 5px solid transparent;
    float: none;
    white-space: nowrap;
    color: #454544;
  }
  .facet#activelabel a:hover {
    color: #454544;
  }
  .facet#activelabel a .title {
    font-family: "myriad-pro-condensed", sans-serif;
    font-size: 1.25em;
    letter-spacing: 3px;
    font-weight: 600;
  }
  .facet#activelabel a .total {
    font-family: "ff-tisa-web-pro", georgia, serif;
    font-size: 0.85em;
    text-transform: none !important;
    color: #aeaead;
  }
  .facet#activelabel a.encyklopedi {
    border-left: 5px solid #76a5c5;
  }
  .facet#activelabel a.ordbok {
    border-left: 5px solid #b7a0c4;
  }
  .facet#activelabel a.lexikon {
    border-left: 5px solid #c7a09e;
  }
  ul.facets {
    display: none;
  }
  ul.facets li {
    width: 100% !important;
    margin-bottom: 1px;
  }
  ul.facets li.active {
    display: none;
  }
  ul.facets li a {
    border-top: 0 !important;
    border-bottom: 0 !important;
  }
  ul.facets li a.encyklopedi {
    border-left: 5px solid #76a5c5;
  }
  ul.facets li a.ordbok {
    border-left: 5px solid #b7a0c4;
  }
  ul.facets li a.lexikon {
    border-left: 5px solid #c7a09e;
  }
  .encyklopedia-topbar .itemtext {
    padding-left: 0px;
  }
  #search-top {
    padding-left: 10px;
    padding-right: 10px;
  }
  #ne-search-block-form > div,
  #ne-lexicon-block-form > div {
    position: static;
    float: none;
  }
  #ne-search-block-form .container-inline,
  #ne-lexicon-block-form .container-inline {
    position: static;
    float: none;
    width: 100%;
  }
  .form-item-ne-lexicon-block-form-q,
  .form-item-ne-search-block-form-q {
    display: block !important;
  }
  .form-item-ne-lexicon-block-form-q .controls,
  .form-item-ne-search-block-form-q .controls {
    display: block;
  }
  .form-item-ne-lexicon-block-form-q:before,
  .form-item-ne-search-block-form-q:before {
    background: none !Important;
  }
  .search-query {
    width: 70% !important;
    padding-left: 3% !important;
    margin-right: 2% !important;
  }
  .btn {
    width: 21% !important;
    min-width: 0 !important;
    padding-left: 1% !important;
    padding-right: 1% !important;
  }
  #edit-submit-swap {
    width: 54px !important;
  }
  .search-hit {
    padding-left: 10px !important;
  }
  ul.pager {
    padding: 10px;
    text-align: center !important;
  }
  ul.pager li {
    padding: 0 !important;
    margin-right: 20px;
    float: none !important;
    position: relative;
    z-index: 100;
  }
  ul.pager li.pager-previous,
  ul.pager li.pager-next {
    float: left !important;
    width: 50%;
    padding: 0 !important;
    border: none;
    margin-bottom: 20px;
    margin-right: 0;
    text-align: left;
  }
  ul.pager li.pager-next {
    text-align: right;
  }
  ul.pager li.pager-next + li {
    border: 0;
    padding: 0 !important;
  }
  footer .social-icons {
    float: none;
  }
}
@media (min-width: 1200px) {
  .container,
  .row,
  .span* {
    width: sdfa !important;
  }
  .pane-pushes.push-small h2 {
    font-size: 3.4em !important;
  }
  .encyklopedia-topbar .itemtext {
    padding-left: 30px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .encyklopedia-topbar .itemtext {
    padding-left: 16px;
  }
}
@media (max-width: 480px) {
  
}
@media (max-width: 979px) {
  header {
    margin-top: 100px !important;
  }
  .pane-pushes.large {
    min-height: 240px !important;
  }
  .pane-pushes.large img {
    position: absolute;
    bottom: -240px;
  }
  .pane-pushes.large h2 {
    font-size: 4em !important;
  }
  .pane-pushes.push-small h2 {
    font-size: 2.2em !important;
  }
  footer .container {
    padding: 10px;
  }
  footer .logo-bottom {
    width: 100%;
    margin-bottom: 30px;
  }
  footer .footer-menu {
    width: 100%;
  }
  footer .footer-menu ul li {
    width: auto !important;
    margin-bottom: 10px !important;
    margin-right: 20px !important;
  }
  footer .footer-menu ul li a {
    padding: 0 !important;
  }
}
