// Rounds all the corners of a box
.border-radius(@radius, @clip: padding-box) {
  -webkit-border-radius:  @radius;
  -moz-border-radius:     @radius;
  -o-border-radius:       @radius;
  border-radius:          @radius;
  -webkit-background-clip:  @clip;
  -mox-background-clip:     @clip;
  -o-background-clip:       @clip;
  background-clip:          @clip;
}

// Rounds a box's corners on one side
/*.border-radius-side(@radius, @side, @clip: padding-box) when (@side = "top") or (@side = "bottom") {
    -webkit-border-@side-left-radius:    @radius;
    -webkit-border-@side-right-radius:   @radius;
}
.border-radius-side(@radius, @side, @clip: padding-box) when (@side = 'left') or (@side = 'right') {
    -webkit-border-top-#{@side}-radius:     @radius;
    -webkit-border-bottom-#{@side}-radius:  @radius;
}
  -webkit-background-clip:  @clip;
  -mox-background-clip:     @clip;
  -o-background-clip:       @clip;
  background-clip:          @clip;
}*/

// Creates a linear gradient between two colors
.linear-gradient(@from, @to) {
  background-color: @to;
  background-image: -moz-linear-gradient(@from, @to);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, @from),color-stop(1, @to));
  background-image: -webkit-linear-gradient(@from, @to);
  background-image: -o-linear-gradient(@from, @to);
  background-image:  linear-gradient(@from, @to);
}
.radial-gradient(@from, @to, @start: 0%, @stop: 100%) {
  background: @from ;
  background: -moz-radial-gradient(center, ellipse cover,  @from @start, @to @stop);
  background: -webkit-gradient(radial, center center, 0px, center center, @stop, color-stop(@start,@from), color-stop(@stop,@to));
  background: -webkit-radial-gradient(center, ellipse cover,  @from @start,@to @stop);
  background: -o-radial-gradient(center, ellipse cover,  @from @start,@to @stop);
  background: -ms-radial-gradient(center, ellipse cover,  @from @start,@to @stop);
  background: radial-gradient(ellipse at center,  @from @start,@to @stop);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@from', endColorstr='@to',GradientType=1 );
} 

.double-box-shadow(@argument1, @argument2) {
  -moz-box-shadow:    @argument1, @argument2;
  -o-box-shadow:      @argument1, @argument2;
  -webkit-box-shadow: @argument1, @argument2;
  box-shadow:         @argument1, @argument2;
}

// Adds shadow to a box
.box-shadow(@arguments) {
  -moz-box-shadow:    @arguments;
  -o-box-shadow:      @arguments;
  -webkit-box-shadow: @arguments;
  box-shadow:         @arguments;
}

// Removes shadow on a box
.remove-box-shadow() {
  -moz-box-shadow:    none;
  -o-box-shadow:      none;
  -webkit-box-shadow: none;
  box-shadow:         none;
}
// Adds shadow to text
.text-shadow(@arguments) {
  -moz-text-shadow:    @arguments !important;
  -o-text-shadow:      @arguments !important;
  -webkit-text-shadow: @arguments !important;
  text-shadow:         @arguments !important;
}
// Add transitions
.transition(@args) {
  -webkit-transition: @args;
  -moz-transition:    @args;
  -o-transition:      @args;
  -ms-transition:     @args;
  transition:         @args;
}
.no-transition() {
  -moz-transition: none !important;
  -webkit-transition: none !important;
  -o-transition: color 0 ease-in !important;
  transition: none !important;
}
// Rotate the object the given number of degrees
.rotate(@angle) {
  -webkit-transform: rotate(@angle);
  -moz-transform:    rotate(@angle);
  -o-transform:      rotate(@angle);
  transform:         rotate(@angle);
}
// Creates the illusion of "lifted" corners
.bendy-shadow(@width, @angle: 5deg, @color: rgba(#333, 0.5)) {
  position: relative;
  z-index: 1;
  .box-shadow(0 7px 5px -5px @color);
  &:before, &:after {
    content: "";
    position: absolute;
    bottom: 6px;
    width: @width / 2;
    height: 10px;
    z-index: -1;
    .box-shadow(0 10px 10px 1px @color);
  }
  &:before {
    left: 0px;
    .rotate(-@angle);
  }
  &:after {
    right: 0px;
    .rotate(@angle);
  }
}
// Icon sprite
.icon-sprite(@x, @y, @height, @width) {
  background: url(../gfx/icon-sprite.png) @x @y no-repeat;
  content: "";
  display: inline-block;
  height: @height;
  margin: 0;
  width: @width;
}
// Button with rounded corners
.button-rounded(@radius, @h, @ptb, @plr, @bg, @color, @bga, @colora) {
  .border-radius(@radius);
  background: @bg;
  border: none;
  color: @color;
  height: @h;
  line-height: @h;
  padding: @ptb @plr;
  .box-shadow(0 1px 2px 1px rgba(0, 0, 0, 0.1));
  &:hover {
    background: @bga;
    border: none;
  }
  &:active, &.active, &.lt-active {
    background: @bga;
    border: 0;
    color: @colora;
    .box-shadow(inset 0 1px 2px 1px rgba(0, 0, 0, 0.3));
    &:hover {
      background: @bga;
      border: none;
    }
  }
}
.full-rotation {
    from { .rotate(0deg); }
    to { .rotate(360deg); }
}
.keyframes-rotate() {
    @-webkit-keyframes spinnerRotate { .full-rotation }
    @-moz-keyframes spinnerRotate { .full-rotation }
    @-ms-keyframes spinnerRotate { .full-rotation }
    @keyframes spinnerRotate { .full-rotation }
}
.animation-name(@name) {
  -webkit-animation-name: @name;
  -moz-animation-name: @name;
  -o-animation-name: @name;
  animation-name: @name;
}
.animation-duration(@duration) {
  -webkit-animation-duration: @duration;
  -moz-animation-duration: @duration;
  -o-animation-duration: @duration;
  animation-duration: @duration;
}
.animation-iteration-count(@count) {
  -webkit-animation-iteration-count: @count;
  -moz-animation-iteration-count: @count;
  -o-animation-iteration-count: @count;
  animation-iteration-count: @count;
}
.animation-timing-function(@duration) {
  -webkit-animation-timing-function: @duration;
  -moz-animation-timing-function: @duration;
  -o-animation-timing-function: @duration;
  animation-timing-function: @duration;
}
/*@mixin rainbow-color(@step: 1)
  background-color: nth(               , @step)
*/
.rainbow-colors {
  .r1 {
    background-color: #ffeec3;
  }
  .r2 {
    background-color: #ffffcc;
  }
  .r3 {
    background-color: #f6ffcc;
  }
  .r4 {
    background-color: #d4eeaa;
  }
  .r5 {
    background-color: #ddeed4;
  }
  .r6 {
    background-color: #a1d4c3;
  }
  .r7 {
    background-color: #c3e5ee ;
  }
  .r8 {
    background-color: #a1dde5;
  }
  .r9 {
    background-color: #e5f6ff;
  }
  .r10 {
    background-color: #d4eef6;
  }
  .r11 {
    background-color: #d4ddf6;
  }
  .r12 {
    background-color: #ccddee;
  }
  .r13 {
    background-color: #aa99c3;
  }
  .r14 {
    background-color: #ddc3dd;
  }
  .r15 {
    background-color: #c399cc;
  }
  .r16 {
    background-color: #ddaae5;
  }
  .r17 {
    background-color: #f6d4e5;
  }
  .r18 {
    background-color: #f699cc;
  }
  .r19 {
    background-color: #ffe5e5;
  }
  .r20 {
    background-color: #f6ccc3;
  }
}
