@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (max-moz-device-pixel-ratio: 2) {
  // Hi res gfx for retina type displays
  .logo {
    background: url("../gfx/ne-logo@2x.png") no-repeat transparent;
    background-size: 52px 35px;
  }
  .pane-ne-user-ne-user-login {
    ul.login {
      li {
        //background: url("../gfx/icn-user@2x.png") no-repeat right 0 transparent;
        background-size: 17px 16px;
      }
    }
  }
  .texture-grey {
    background: url(@texture-grey-hd) repeat #ddd !important;
    background-size: 55px !important;
  }
  .texture-black {
    background-image: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    background: url(@texture-black-hd) repeat #232323 !important;
    background-size: 64px !important;
  }
  .form-item-ne-lexicon-block-form-q, .form-item-ne-search-block-form-q {
    &:before {
      background: url("../gfx/icn-search@2x.png") no-repeat 12px 13px transparent !important;
      background-size: 15px !important;
    }
  }
  input#edit-ne-search-block-form-q.throbbing, input#edit-ne-lexicon-block-form-q.throbbing {
    background-image: url("../gfx/spinner_48.gif") !important;
    background-size: 24px !important;
    background-position: 97% center !important;
  }
  #edit-submit-swap {
    background: url("../gfx/arrow-swap@2x.png") no-repeat center center transparent !important;
    background-size: 22px !important;
  }
  footer {
    .logo-bottom {
      background: url("../gfx/ne-logo-slogan@2x.png") no-repeat transparent !important;
      background-size: 188px 44px !important;
    }
    .facebook {
      a {
        background: url("../gfx/icn-facebook@2x.png") no-repeat transparent !important;
        background-size: 64px !important;
        background-position: 0 center !important;
        
        &:hover {
          background-position: -32px center !important;
        }
      }
    }
    .twitter {
      a {
        background: url("../gfx/icn-twitter@2x.png") no-repeat transparent !important;
        background-size: 64px !important;
        background-position: 0 center !important;
        
        &:hover {
          background-position: -32px center !important;
        }
      }
    }
  }
}
@media (min-width: 768px) {
  .facets {
    display: block !important;
  }
}
@media (max-width: 767px) {
  body {
    padding: 0 !important;
  }
  a.brand {
    padding-left: 0 !important;
    padding-right: 0 !important;
    .logo {
      background-size: 38px 26px;
      top: 4px;
      position: relative;
    }
  }
  .pane-ne-user-ne-user-login {
    position: absolute;
    right: 10px;
    top: 20px;
    ul.login {
      text-indent: -9999px;
    }
  }
  .pane-menu-menu-huvudmeny-premium {
    ul.menu {
      width: auto;
      padding: 0;
      padding-left: 10px;
      top: 10px;
      li {
        a {
          border: 0 !important;
          font-size: 0.8em;
        }
      }
    }
  }
  .pushes {
    padding: 10px;
  }
  .pane-pushes {
    a.push {
      display: table;
      width: 100%;
    }
    &.large {
      h2 {
        font-size: 3em !important;
      }
    }
    &.word-push {
      img {
        width: auto !important;
        max-width: 115px;
      }
    }
    &.push-small {
      margin-right: 0;
      margin-bottom: 10px;
      .meta {
        display: table-cell;
        vertical-align: top;
        padding-bottom: 0 !important;
        padding: 8px 12px 0 10px !important;
        width: 90%;
        .subheader {
          text-align: left !important;
          span {
            //text-align: left !important;
            display: block;
            padding: 0;
            font-size: 0.8em;
            letter-spacing: 4px;
            line-height: 1.3em;
            &:before, &:after {
              border: none;
            }
          }
        }
        h2 {
          font-size: 1.6em !important;
          text-align: left !important;
          border: 0 !important;
          margin-top: 0 !important;
          line-height: 1em;
          margin-bottom: 3px;
        }
        p {
          font-size: 10px;
          line-height: 1.3em;
          margin-bottom: 3px;
        }
        .btn-push {
          display: none;
        }
      }
      .field-name-field-push-image{
        display: inline-block;
        vertical-align: top;
        overflow: hidden;
        width: 23%;
        //padding: 2%;
        height: 115px;
        width: 115px;
        .field-item {
          overflow: hidden;
          img {
            width: 280px !important;
            left: -33%;
            max-width: none;
            float: left;
            width: auto;
            position: relative;
          }
        }
      }
    }
  }
  .facet-toggle {
    display: block;
  }
  .facet#activelabel {
    display: block;
    a {
      width: auto;
      display: block;
      padding: 6px 0;
      margin-right: 0;
      background: url("../gfx/texture-cream.png") repeat transparent !important;
      text-align: center;
      text-decoration: none;
      border-radius: 0 !important;
      border-left: 5px solid transparent;
      //border-bottom: 1px dashed @dark-grey !important;
      float: none;
      white-space: nowrap;
      color: @dark-grey;
      &:hover {
        color: @dark-grey;
        //border-bottom: 1px dashed @dark-grey !important;
      }
      .title {
        font-family: @sans;
        font-size: 1.25em;
        letter-spacing: 3px;
        font-weight: 600;
      }
      .total {
        font-family: @serif;
        font-size: 0.85em;
        text-transform: none !important;
        color: @tab-inactive-text;
      }
      &.encyklopedi {
        border-left: 5px solid #76a5c5;
      }
      &.ordbok {
        border-left: 5px solid #b7a0c4;
      }
      &.lexikon {
        border-left: 5px solid #c7a09e;
      }
    }
  }
  ul.facets {
    display: none;
    li {
      width: 100% !important;
      margin-bottom: 1px;
      &.active {
        display: none;
      }
      a {
        border-top: 0 !important;
        border-bottom: 0 !important;
        &.encyklopedi {
          border-left: 5px solid #76a5c5;
        }
        &.ordbok {
          border-left: 5px solid #b7a0c4;
        }
        &.lexikon {
          border-left: 5px solid #c7a09e;
        }
      }
    }
  }
  .encyklopedia-topbar .itemtext {
    padding-left: 0px;
  }
  // Search page:
  #search-top {
    padding-left: 10px;
    padding-right: 10px;
  }
  #ne-search-block-form > div, #ne-lexicon-block-form > div {
    position: static;
    float: none;
  }
  #ne-search-block-form .container-inline, #ne-lexicon-block-form .container-inline {
    position: static;
    float: none;
    width: 100%;
  }
  .form-item-ne-lexicon-block-form-q, .form-item-ne-search-block-form-q {
    display: block !important;
    .controls {
      display: block;
    }
    &:before {
      background: none !Important;
    }
  }
  .search-query {
    width: 70% !important;
    padding-left: 3% !important;
    margin-right: 2% !important;
  }
  .btn {
    width: 21% !important;
    min-width: 0 !important;
    padding-left: 1% !important;
    padding-right: 1% !important;
  }
  #edit-submit-swap {
    width: 54px !important;
  }
  .search-hit {
    padding-left: 10px !important;
  }
  ul.pager {
    padding: 10px;
    text-align: center !important;
    li {
      padding: 0 !important;
      margin-right: 20px;
      float: none !important;
      position: relative;
      z-index: 100;
    }
    li.pager-previous, li.pager-next {
      float: left !important;
      width: 50%;
      padding: 0 !important;
      border: none;
      margin-bottom: 20px;
      margin-right: 0;
      text-align: left;
    }
    li.pager-next {
      text-align: right;
      &+li {
        border: 0;
        padding: 0 !important;
      }
    }
  }
  // End search page
  footer {
    .social-icons {
      float: none;
    }
  }
}
@media (min-width: 1200px) {
  .container, .row, .span* {
    width: sdfa !important;
  }
  .pane-pushes {
    &.push-small {
      h2 {
        font-size: 3.4em !important;
      }
    }
  }
  .encyklopedia-topbar .itemtext {
        padding-left: 30px;
  }    
}

@media (min-width: 768px) and (max-width: 979px) {
  .encyklopedia-topbar .itemtext {
        padding-left: 16px;
  }    
  
}
@media (max-width: 480px) {
}
@media (max-width: 979px) {
  header {
    margin-top: 100px !important;
  }
  .pane-pushes {
    &.large {
      min-height: 240px !important;
      img {
        position: absolute;
        bottom: -240px;
        //max-width: none !important;
      }
      h2 {
        font-size: 4em !important;
      }
    }
    &.push-small {
      h2 {
        font-size: 2.2em !important;
      }
    }
  }
  // Footer
  footer {
    .container {
      padding: 10px;
    }
    .logo-bottom{
      width: 100%;
      margin-bottom: 30px;
    }
    .footer-menu {
      width: 100%;
      ul {
        li {
          width: auto !important;
          margin-bottom: 10px !important;
          margin-right: 20px !important;
          a {
            padding: 0 !important;
          }
        }
      }
    }
  }
}