.node-type-page {
  article {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  h1 {
    font-family: @serif;
    font-size: 1.5em;
    margin-top: 0;
  }
  .main, .sidebar {
    font-family: @serif;
    margin-bottom: 20px;
    margin-top: 10px;
    ul {
      li {
        list-style-type: disc;
      }
    }
  }
  .main {
    .field-name-field-subtitle {
      font-weight: bold;
      font-family: @sans;
      font-size: 1.3em;
    }
  }
  .sidebar {
    .pane-content {
      font-size: 0.85em;
    }
    ul {
      padding: 0;
      margin-top: 18px;
      margin-bottom: 0;
      li {
        margin-bottom: 10px;
        list-style-type: none !important;
      }
      a {
        padding: 0;
        color: @blue;
        &:hover {
          color: @hover-blue;
          background: none;
        }
        &.active {
          color: @text-grey;
          background: none;
          &:hover {
            background: none;
            color: @text-grey;
          }
        }
      }
    }
  }
}
.panel-3col {
  padding-top: 30px;
  .panel-separator {
    margin: 0;
  }
  h2.pane-title {
    padding-top: 0;
    padding-bottom: 10px;
    font-family: @serif;
    font-size: 1.3em;
    line-height: 1.3em;
    margin-top: 10px;
  }
  .panel-panel {
    //padding: 20px;
    margin-bottom: 20px;
    border-top: @tab-border-width solid #fffbcc;
    .panel-pane {
      padding: 8px 20px 20px;
    }
    .pane-node-field-page-image {
      padding: 0;
    }
  }
  .top-image {
    img {
      width: 100%;
    }
  }
  .summary {
    font-size: 1.3em;
    line-height: 1.3em;
    margin-bottom: 20px;
  }
  h4 {
    margin-top: 24px !important;
  }
}
.pane-menu-menu-about-ne {
  li {
    display: block;
    clear: both;
  }
}