// Navigation bullets for large slider
.flex-control-nav {
  top: 16px;
  z-index: 10;
  padding: 0;
  margin: 0;
  float: left;
  text-align: center;
  max-width: 960px;
  width: 100%;
  li {
    height: 10px;
    cursor: pointer;
    line-height: 1.3em;
    width: 11px;
    display: inline-block;
    position: relative;
    z-index: 20;
    background: url("../gfx/bullet-slider.png") no-repeat 0 0 transparent;
    &.active {
      background-position: 0 100%;
    }
    a {
      vertical-align: middle;
      span {
        vertical-align: middle;
        line-height: 1em;
      }
    }
  }
}
// Push, large
.pushes {
  border-top: 1px dashed #888;
  padding-top: 30px;
  background-size: 100px;
  min-height: 200px;
}
.pushes-bottom {
  clear: both;
}
.pane-pushes.large {
  margin-top: 10px;
  .radial-gradient(white, @bg, 0%, 63%);
  .views-row {
    display: block;
    position: relative;
    z-index: 100;
    text-align: center;
    .meta {
      width: 100%;
      top: 10px;
      position: absolute;
      .subheader {
        width: 40%;
        margin: 0 auto;
      }
      .heading {
        margin: 0 auto;
        width: 70%;
      }
      h2 {
        color: @dark-grey;
        font-size: 6em;
        line-height: 1em;
        font-weight: 600;
        text-transform: uppercase;
      }
      a.btn-push {
        display: none;
      }
    }
  }
}
.pane-pushes.push-small {
  margin-bottom: 20px;
  .views-row {
    background-size: 100px;
    .box-shadow(2px 2px 2px 0px rgba(0, 0, 0, 0.3));
    a.push {
      text-decoration: none;
      color: @text-grey;
    }
    h2 {
      text-align: center;
      font-size: 2.8em;
      //letter-spacing: -0.05em;
      color: @dark-grey;
      font-weight: normal;
      font-family: @bebas;
      margin: 7px 0 4px 0;
      text-transform: uppercase;
    }
    .meta {
      //background: url(@texture-cream) repeat transparent;
      background: @card-color;
      padding: 15px;
      min-height: 190px;
      position: relative;
      p {
        font-family: @serif;
        font-size: 12px;
      }
    }
    .field-name-field-push-image {
      //background: url(@texture-cream) repeat transparent;
    }
  }
  &.word-push {
    h2 {
      font-family: @serif;
      font-size: 1.4em !important;
      font-weight: 600;
      text-align: left;
      border-top: 1px dashed @dark-grey;
    }
    .subheader {
      display: none;
    }
  }
  &.date-push {
    h2 {
      color: #ccc;
      font-size: 2.8em !important;
      letter-spacing: 5px;
      font-weight: 600;
    }
    p {
      font-family: @sans !important;
      font-size: 4.4em !important;
      line-height: 0.7em;
    }
    .subheader {
      display: none;
    }
  }
}
.subheader {
  color: @dark-grey;
  text-align: center;
  font-family: @sans;
  text-transform: uppercase;
  span {
    font-size: 1.5em;
    z-index: 10;
    position: relative;
    padding: 0 10px;
    font-weight: 600;
    letter-spacing: 0.2em;
    display: table-row;
    width: 100%;
    white-space: nowrap;
    &:before, &:after {
      content: "";
      border-top: 1px dashed #848d8a;
      display: table-cell;
      width: 50%;
      position: relative;
      top: 0.4em;
    }
  }
}
.btn-push-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: block;
  margin-bottom: 15px;
}
.btn-push {
  display: block;
  width: auto;
  padding: 3px 0;
  margin: 0 15px 0 15px;
  background-color: @btn-grey;
  color: white;
  letter-spacing: 0.2em;
  text-align: center;
  font-family: @sans;
  text-transform: uppercase;
  font-weight: 600;
  &:hover {
    text-decoration: none;
    background-color: @btn-grey-hover;
    color: white;
  }
}