input {
  &[type="text"], &[type="password"] {
    border-radius: 6px !important;
  }
  &[type="submit"] {
    width: auto;
    //padding: 6px 16px 4px 16px !important;
    border-bottom: 1px solid #ddd;
    height: 50px;
    &.btn {
      height: 41px;
      min-width: 80px;
      border: none !important;
      border-radius: @search-component-border-radius;
      background-color: @dark-grey;
      color: white;
      font-family: @sans;
      font-size: 1.25em;
      font-weight: 600 !important;
      letter-spacing: 0.05em;
      line-height: 32px;
      text-transform: uppercase;
      letter-spacing: -0.05em;
      .text-shadow(0 -1px 0 rgba(0, 0, 0, 0.15));
      .linear-gradient(#39d4e5, #33a7bf);
    }
  }
  &#edit-ne-search-block-form-q.throbbing, &#edit-ne-lexicon-block-form-q.throbbing {
    background-image: url("../gfx/spinner_24.gif") !important;
    background-position: 97% center !important;
  }
}

.navbar-search {
  float: none;
  clear: both;
}

#searchbar {
  margin-bottom: 20px;
}

#feedback-panel {
  display: none;
  top: 0;
  padding: 10px;
  height: 30px;
  width: 300px;
  position: fixed;
  z-index: 10;
}

#feedback-spinner {
  z-index: 10;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 50px 0 0 -100px;
  height: 100px;
  width: 100px;
  text-indent: 250px;
  white-space: nowrap;
  overflow: hidden;
  background-image: url(../gfx/feedback-spinner.png);
  .animation-name(spinnerRotate);
  .animation-duration(2s);
  .animation-iteration-count(infinite);
  .animation-timing-function(linear);
}

.keyframes-rotate;

#search-top {
  margin-top: 60px;
  margin-bottom: 60px;
}
.page-spraklexikon {
  #search-top{
    margin-top: 54px;
  }
}

// Search components
#ne-search-block-form, #ne-lexicon-block-form {
  &>div{
    position: relative;
    float: right;
    left: -50%;
  }
  .container-inline{
    position: relative;
    left: 50%;
    width: 101%;
  }
  .form-type-textfield {
  }
  .search-query {
    float: left;
    padding: 7px 14px 7px 36px;
    margin-right: 10px;
    height: 27px;
    width: 360px;
    border: none;
    line-height: 24px;
    background-color: #ddd;
    border-bottom: 1px solid white;
    border-radius: @search-component-border-radius !important;
    .box-shadow(inset 1px 2px 4px 0px rgba(0, 0, 0, 0.5));
    .transition(background-color 0.3s);
    font-family: @serif;
    font-size: 1em;
    &:focus {
      background-color: white !important;
    }
  }
  .form-item-ne-lexicon-block-form-q, .form-item-ne-search-block-form-q {
    &:before {
      content: '';
      display: block;
      width: 40px;
      height: 41px;
      position: absolute;
      background: url("../gfx/icn-search.png") no-repeat 12px 13px transparent;
    }
  }
}
#ne-lexicon-block-form {
  margin-top: 54px;
  .form-item-ne-lexicon-block-form-q{
    width: auto;
  }
  .search-query {
    width: 360px;
  }
  fieldset#edit-languages {
    /*Centering:*/
    //position: relative;
    //float: right;
    //left: -50%;
    /*end centering*/
    position: relative;
    top: -84px;
    margin-bottom: -24px;
    height: 37px;
    padding: 0 0 0 0;
    min-width: 200px;
  }
  fieldset#edit-languages {
    &>.fieldset-wrapper {
      /*Centering:*/
      //position: relative;
      //left: 50%;
      /*end centering*/
    }
  }
  fieldset#edit-language-from-group, fieldset#edit-language-to-group {
    font-size: 1.4em;
    &.sve {
    }
    label {
      font-family: @sans;
      font-weight: 600;
      font-size: inherit;
      line-height: 37px;
      height: 37px;
      &.flag {
        padding: 0 6px 0 38px;
        background: url("../gfx/flags/svenska.gif") no-repeat 8px center;
        background-size: 26px 15px;
      }
      &.to {
        padding: 0 10px;
        //text-indent: -9999px;
        position: relative;
        font-family: @sans;
        //height: 30px;
        //width: 10px;
        //background: url("../gfx/arrow-translate@2x.png") no-repeat 5px 8px transparent !important;
        background-size: 10px 20px !important;
      }
    }
  }
  fieldset#edit-language-from-group {
    padding-right: 4px;
    float: left;
    label {
      float: right;
    }
    .form-type-select {
      float: right;
    }
  }
  fieldset#edit-language-to-group {
    float: left;
  }
  #edit-swap {
    float: left;
    padding-top: 6px;
  }
  #edit-submit-swap {
    border-radius: @search-component-border-radius;
    //.linear-gradient(#fbfbfb, #eee);
    background: url("../gfx/arrow-swap.png") no-repeat center center transparent;
    text-indent: -9999px;
    color: @medium-grey;
    padding: 5px !important;
    margin-bottom: 0;
    margin-top: 12px;
    margin-left: 0;
    height: 24px;
    width: 54px;
    min-width: 0;
    border: 1px solid #bbb !important;
    font-size: 1.1em;
    font-weight: bold !important;
    line-height: 0.9em;
    .text-shadow(0 -1px 0 rgba(0, 0, 0, 0)) !important;
    .double-box-shadow(0px 0px 3px 1px rgba(255, 255, 255, 1), inset 0px 0px 3px 1px rgba(255, 255, 255, 1));
    &:active{
      .double-box-shadow(0px 0px 3px 1px rgba(255, 255, 255, 1), inset 0px 0px 4px 0px rgba(0, 0, 0, 0.25));
      color: #888;
    }
  }
  .form-actions {
    //Resetting BS
    padding: 0;
    background: 0;
    border: 0;
  }
}
#edit_language_to_chzn, #edit_language_from_chzn, .search-results .language-to, .node-lexicon .language-from, .node-lexicon {
  .alb, &.alb .psa-group {
    background: url(@albanska) no-repeat 0 center;
  }
  .amh {
    background: url(@amhariska) no-repeat 0 center;
  }
  .aze {
    background: url(@azerbajdzjanska) no-repeat 0 center;
  }
  .bos {
    background: url(@bosniska) no-repeat 0 center;
  }
  .eng {
    background: url(@engelska) no-repeat 0 center;
  }
  .fin {
    background: url(@finska) no-repeat 0 center;
  }
  .fra {
    background: url(@franska) no-repeat 0 center;
  }
  .gre {
    background: url(@grekiska) no-repeat 0 center;
  }
  .kro {
    background: url(@kroatiska) no-repeat 0 center;
  }
  .nor {
    background: url(@nordkurdiska) no-repeat 0 center;
  }
  .pas {
    background: url(@pashto) no-repeat 0 center;
  }
  .per {
    background: url(@persiska) no-repeat 0 center;
  }
  .ser {
    background: url(@serbiska) no-repeat 0 center;
  }
  .som {
    background: url(@somaliska) no-repeat 0 center;
  }
  .spa {
    background: url(@spanska) no-repeat 0 center;
  }
  .sve {
    background: url(@svenska) no-repeat 0 center;
  }
  .syd {
    background: url(@sydkurdiska) no-repeat 0 center;
  }
  .tur {
    background: url(@turkiska) no-repeat 0 center;
  }
  .tys {
    background: url(@tyska) no-repeat 0 center;
  }
  .flag {
    padding-left: 40px !important;
    background-size: 20px 12px;
    background-position: 10px center;
  }
}

.texture-grey {
  background: url(@texture-grey) repeat #ddd;
  background-size: 55px;
}
.texture-black {
  background-image: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  background: url(@texture-black) repeat #232323 !important;
  background-size: 64px !important;
}
.texture-cream {
  background-color: @card-color;
  //background: url(@texture-cream) repeat @light-beige;
  //background-size: 55px;
}
