#search-middle {
  position: relative;
  .pushes {
    padding-bottom: 20px;
  }
}
.facet#activelabel {
  display: none;
  text-transform: uppercase;
}
.facet-toggle {
  display: none;
}
.search-facet&.top {
  display: none;
}
ul.facetapi-facetapi-tab-links {
  display: block;
  margin-bottom: 0;
  .facetcount1, .facetcount2 {
    width: 50%;
  }
  li {
    width: 25%;
    display: block;
    padding: 8px 0;
    float: left;
    background-color: @card-color;
    color: @dark-grey;
    font-size: 1.2em;
    font-family: @sans;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.1em;
    border-right: 1px solid #bbb;
    a {
      text-decoration: none !important;
      white-space: nowrap;
      color: @dark-grey;
    }
    &:not(.last){
    }
    &:not(.first){
      border-left: 1px solid #ddd;
    }
    &.facetapi-tabs-active {
      border-top: @tab-border-width solid @encyklopedia-navbar-selected;
      position: relative;
      z-index: 10;
      top: 1px;
      a {
      }
    }
    &.facetapi-tabs-inactive {
      border-top: @tab-border-width solid @encyklopedia-navbar;
      background-image: none;
      background-color: @encyklopedia-navbar-background;
      a {
        width: 100%;
        display: block;
        color: @tab-inactive-text;
      }
    }
  }
}

.normal-search {
  clear: both;
  .search-results {
    margin-left: 0;
    margin-bottom: 0px;
    .box-shadow(1px 1px 2px 0px rgba(0, 0, 0, 0.3));
    .search-hit {
      padding-left: 40px;
    }
    .node {
      border-top: 1px solid white;
      border-bottom: 1px solid #d0d0d0;
      background-color: @card-color;
      //margin-bottom: 1px;
      &.full {
        border-bottom: 0;
      }
      .tsl {
        color: @dark-grey;
      }
      .main {
        padding: 0 0 8px 0;
        padding-bottom: 8px;
        .field-item {
          p {
          }
        }
      }
      .huvud {
        font-weight: normal;
      }
      h2 {
        font-family: @serif;
        margin-bottom: 0;
        font-size: 1.3em;
        font-weight: 600 !important;
        margin-bottom: 0;
        a {
          font-size: inherit;
          color: @blue;
          &:hover {
            text-decoration: none;
            color: @hover-blue;
          }
        }
      }
      .content {
        font-family: @serif;

      }
    }
  }
}