// Sizes
@base: 13;

// Main Colors
@bg: #f0f0f0;
@blue:  #1291aa;
@headline-blue: #5EB4C6;
@hover-blue: #1bc7e5;
@dark-grey: #454544;
@text-grey: #605f5f;
@medium-grey: #999999;
@light-beige: #eeede7;
@light-grey: #d6d6d6;
@btn-grey: #babab7;
@btn-grey-hover: #9c9c9a;
@tab-inactive-bg: #e1e0dd;
@tab-inactive-text: #aeaead;
@card-color: #f0f0f0;
@card-color-hover: #f4f4f4;

// Tab borders:
//@encyklopedia-navbar-selected: #6393B9;
@encyklopedia-navbar-selected: #5EB4C6;
//@encyklopedia-navbar: #A3B9C9;
@encyklopedia-navbar: #A2C1C7;
@encyklopedia-navbar-background: #D9D8D4;

@dictionary-navbar-selected: #b7a0c4;
@dictionary-navbar-selected: #b7a0c4;

@lexicon-navbar-selected: #c7a09e;
@lexicon-navbar-selected: #c7a09e;

@search-component-border-radius: 4px;

@tab-border-width: 8px;

// Images

// Textures:
@texture-cream: "/assets/images/gfx/texture-cream.png";
@texture-cream-hd: "/assets/images/gfx/texture-cream@2x.png";
@texture-grey: "/assets/images/gfx/texture-grey.png";
@texture-grey-hd: "/assets/images/gfx/texture-grey@2x.png";
@texture-black: "./assets/images/gfx/texture-black.png";
@texture-black-hd: "/assets/images/gfx/texture-black@2x.png";

// Flags:
@albanska: "/assets/images/gfx/flags/albanska.gif";
@amhariska: "/assets/images/gfx/flags/amhariska.gif";
@azerbajdzjanska: "/assets/images/gfx/flags/azerbajdzjanska.gif";
@bosniska: "/assets/images/gfx/flags/bosniska.gif";
@engelska: "/assets/images/gfx/flags/engelska.gif";
@finska: "/assets/images/gfx/flags/finska.gif";
@franska: "/assets/images/gfx/flags/franska.gif";
@grekiska: "/assets/images/gfx/flags/grekiska.gif";
@kroatiska: "/assets/images/gfx/flags/kroatiska.gif";
@nordkurdiska: "/assets/images/gfx/flags/nordkurdiska.png";
@pashto: "/assets/images/gfx/flags/pashto.gif";
@persiska: "/assets/images/gfx/flags/persiska.gif";
@serbiska: "/assets/images/gfx/flags/serbiska.gif";
@somaliska: "/assets/images/gfx/flags/somaliska.gif";
@spanska: "/assets/images/gfx/flags/spanska.gif";
@svenska: "/assets/images/gfx/flags/svenska.gif";
@sydkurdiska: "/assets/images/gfx/flags/sydkurdiska.png";
@turkiska: "/assets/images/gfx/flags/turkiska.gif";
@tyska: "/assets/images/gfx/flags/tyska.gif";
