<header class="navbar-inverse navbar navbar-static-top" id="navbar-main">
	<div class="">
		<div class="navbar-inner texture-black">
			<div class="container-fluid">
				<div class="logo-container">
					<a class="brand" href="/"> <span class="logo"></span>
					</a>
				</div>
				<div class="panel-pane pane-block pane-menu-menu-huvudmeny-premium span4">
					<div class="pane-content">
						<ul class="menu nav">
							<li class="first expanded dropdown"><a
								href="/#/search/" title="">Uppslagsverk</a>
							<ul class="menu dropdown-menu">
									<li class="first last leaf"><a href="/" title="">Encyklopedi</a></li>
								</ul></li>
							<li class="last leaf dropdown"><a href="/#/norstedts/" title="">@Messages("spraklexikon")</a></li>
						</ul>
					</div>
				</div>
				<div class="panel-separator"></div>
				<div class="panel-pane pane-block pane-ne-user-ne-user-login">
					<div class="pane-content">
					@if(session.get("JSESSIONID")==null) {
						<a href="@routes.Application.login">Login as
													private user</a>
					}else{
						Logged in as @session.get("JSESSIONID")
					}
					
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="rainbow">
			<div class="r1"></div>
			<div class="r2"></div>
			<div class="r3"></div>
			<div class="r4"></div>
			<div class="r5"></div>
			<div class="r6"></div>
			<div class="r7"></div>
			<div class="r8"></div>
			<div class="r9"></div>
			<div class="r10"></div>
			<div class="r11"></div>
			<div class="r12"></div>
			<div class="r13"></div>
			<div class="r14"></div>
			<div class="r15"></div>
			<div class="r16"></div>
			<div class="r17"></div>
			<div class="r18"></div>
			<div class="r19"></div>
			<div class="r20"></div>
		</div>
	</div>
</header>