@(message: String, searchform: Form[Application.Search])

@main("Welcome to Play 2.0") {
<section id="content-main">
  <div class="content">
	  <div class="container-fluid">
		<div class="row-fluid" id="search-top">
      		@search(searchform)
		</div>
	  </div>
  
	  <div class="pushes texture-grey">
		  <div class="container-fluid">
		  	<div class="row-fluid">
		  		<div class="span12">
				@Html(message)
				@pushes()
				</div>
			</div>
		  </div>
	  </div>
  </div>
</section>
}

