@(loginform: Form[Application.Login])

@import helper._
@import helper.twitterBootstrap._


@main("Welcome to Play 2.0") {
<section id="content-main">
  <div class="content">
	  
  
	  <div class="texture-grey">
		  <div class="container-fluid">
		  	<div class="row-fluid">
		  		<div class="span12">
				  @helper.form(routes.Application.authenticate) {
            
            <h1>Sign in</h1>
            
            <p>
            @helper.inputText(field = loginform("email"))
            </p>
            <p>
            @inputPassword(
                loginform("password"), 
                '_label -> "Password",
                '_help -> "A password must be at least 6 characters. "
            )
            </p>
            <p>
                <input type="submit" class="btn primary"  type="submit" value="Login"></input>
                
            </p>
            
        }
				</div>
			</div>
		  </div>
	  </div>
  </div>
</section>
}

