<div class="row-fluid">
	<div class="panel-pane pane-views pane-pushes push-small span3">
		<div class="pane-content">
			<div
				class="view view-pushes view-id-pushes view-display-id-small view-dom-id-ce417b1ec29cc562f431750279797157">
				<div class="view-content">
					<div
						class="views-row views-row-1 views-row-odd views-row-first views-row-last">
						<a class="push"
							href="http://beta.ne.se/encyklopedia/l%C3%A5ng/spindlar">
							<div
								class="field field-name-field-push-image field-type-image field-label-hidden">
								<div class="field-items">
									<div class="field-item even">
										<img
											src="http://beta.ne.se/sites/ne.se/files/styles/push-small/public/pushes/spindlar.jpg"
											width="270" height="180" alt="">
									</div>
								</div>
							</div>
							<div class="meta">
								<div class="subheader">
									<span>Natur</span>
								</div>
								<div class="heading">
									<h2>Spindlar</h2>
								</div>
								<p></p>
								<p>@Html(Messages("pushes.spindlar"))</p>
								<p></p>
								<span class="btn-push-wrapper"><span class="btn-push"><span>@Messages("lasmer")</span></span></span>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="panel-separator"></div>
	<div class="panel-pane pane-views pane-pushes push-small span3">
		<div class="pane-content">
			<div
				class="view view-pushes view-id-pushes view-display-id-small view-dom-id-50a36919591ee4506efcacd1a291a482">
				<div class="view-content">
					<div
						class="views-row views-row-1 views-row-odd views-row-first views-row-last">
						<a class="push"
							href="http://beta.ne.se/encyklopedia/l%C3%A5ng/lady-gaga">
							<div
								class="field field-name-field-push-image field-type-image field-label-hidden">
								<div class="field-items">
									<div class="field-item even">
										<img
											src="http://beta.ne.se/sites/ne.se/files/styles/push-small/public/pushes/lady-gaga.jpg"
											width="270" height="180" alt="">
									</div>
								</div>
							</div>
							<div class="meta">
								<div class="subheader">
									<span>Musik</span>
								</div>
								<div class="heading">
									<h2>Lady Gaga</h2>
								</div>
								<p></p>
								<p>@Html(Messages("pushes.ladygaga"))</p>
								<p></p>
								<span class="btn-push-wrapper"><span class="btn-push"><span>@Messages("lasmer")</span></span></span>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="panel-separator"></div>
	<div class="panel-pane pane-views pane-pushes push-small span6">
		<div class="pane-content">
			<div
				class="view view-pushes view-id-pushes view-display-id-small_wide view-dom-id-ff75248e272f3c36a54be2ab819a11ff">
				<div class="view-content">
					<div
						class="views-row views-row-1 views-row-odd views-row-first views-row-last">
						<a class="push"
							href="http://beta.ne.se/encyklopedia/l%C3%A5ng/h%C3%A4stpolo">
							<div
								class="field field-name-field-push-image field-type-image field-label-hidden">
								<div class="field-items">
									<div class="field-item even">
										<img
											src="http://beta.ne.se/sites/ne.se/files/styles/push-wide/public/pushes/hastpolo.jpg"
											width="570" height="180" alt="">
									</div>
								</div>
							</div>
							<div class="meta">
								<div class="subheader">
									<span>Sport &amp; fritid</span>
								</div>
								<div class="heading">
									<h2>@Html(Messages("pushes.hastar.title"))</h2>
								</div>
								<p></p>
								<p>@Html(Messages("pushes.hastar"))</p>
								<p></p>
								<span class="btn-push-wrapper"><span class="btn-push"><span>@Messages("lasmer")</span></span></span>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>