@(searchform: Form[Application.Search])

@import helper._
@import helper.twitterBootstrap._
<!-- About -->
<div class="row transparent">

        @helper.form(routes.Application.dosearch) {
	<div class="span3 offset4 ">

           
            
            <p>
            @helper.inputText(field = searchform("searchterm"))
            </p>
	 </div>      
 	<div class="span2 ">
            <p>
                <input type="submit" class="btn primary"  type="submit" value="Search"></input>
            </p>
	 </div>      
            
        }
        
 </div>      


